[2015-10-28 19:05] madc opened #1 "Images"
![bolt-translate_backend](https://cloud.githubusercontent.com/assets/343392/10799822/23900e48-7daf-11e5-86ad-c7f7730a0b13.png)

[2015-10-28 19:05] #1 closed

[2016-02-08 08:13] Puddingboy opened #3 "How do you output other language urls for the same page?"
I want to implement a language menu where you can switch language. Is it possible to output urls for the same page? Something like this:

domain/en/hello-world
domain/nl/hallo-wereld
domain/de/hallo-weld

[2016-02-08 09:42] SahAssar commented on #3
Have you tried the using the `{{ localeswitcher()|raw }}` in your template? That should output a languageswitcher that uses the localized slugs for each language.

[2016-02-08 10:16] Puddingboy commented on #3
Ohw crap, this is embarrassing. It's also on the front page of this github depository. I feel like I've lived my life in a cage. o.O

Do you also have suggestions on translating image file name and the image alt text/title without having to reupload the file?

[2016-02-08 10:26] SahAssar commented on #3
Haha, No problem, I was just beginning to think I broke it up somehow :smile:

About the images:

The easiest way is probably to use the stack. It should include the latest uploaded files, so just clicking "select from stack" should show the latest 10 or so images you have uploaded. Otherwise you can use "select from server". Those two assume that you are fine with having one file-name for all lan

[2016-02-08 10:44] Puddingboy commented on #3
I've not really come across bugs, but I did make a few small observations, while running through the steps. While not running into bugs, I did encounter other interesting stuff. I get the suggestion to update the database. This seems harmless to me, I did and it fixed stuff. Also installing is not possible without all extension subfiles having 777 permission. While I did set the parentfolder(exten

[2016-02-08 10:59] SahAssar commented on #3
Hmm, those are mostly things regarding bolt itself, not this extension specifically... I'm guessing that you haven't used bolt extensively before?

[2016-02-08 11:06] Puddingboy commented on #3
Actually I just started using bolt, but I'm starting to like it more and more. Sorry if I haven't been of any good use.

[2016-02-08 11:32] SahAssar commented on #3
No, I didn't mean that it wasn't helpful!

Please feel free to ask/comment here on github or in the IRC/slack channels if you run into any future problems :)

[2016-02-08 11:32] #3 closed

[2016-02-08 14:45] Puddingboy opened #4 "Where can I edit the localeswitcher output?"
I would like to add a flagicon to every anchor. I would prefer to do this using a span or i tag, using classes to pick the backgrounds.`<i class="lang"></i>`. Where can I edit this?

[2016-02-08 15:06] SahAssar commented on #4
You can supply your own twig file for the localeswitcher by calling it with an argument like so: `{{ localeswitcher('_my_localeswitcher_template.twig')|raw }}`. You probably want to base this on the original twig file which you can see [here](https://github.com/AnimalDesign/bolt-translate/blob/master/assets/views/twig/_localeswitcher.twig).

[2016-02-08 15:20] Puddingboy commented on #4
Does that loop permit me to use the slug `( en | fr | nl )` from locales aswell? Else I'll just go with the label instead.

[2016-02-08 17:08] SahAssar commented on #4
Yep, it's in `{{ locale.slug }}`

[2016-02-09 09:01] madc commented on #4
@Puddingboy There is also [a topic at the bolt forum](https://discuss.bolt.cm/d/50-bolt-translate), if you have any further questions.

[2016-02-09 12:23] Puddingboy commented on #4
This solved my question.

[2016-02-09 12:23] #4 closed

[2016-02-12 09:05] Puddingboy opened #5 "Set current language as first in locales?"
Crosspost, got no reply for days...

What approach would you recommend to display the current language as the first link in the list?
originally I had in mind to use 2 loops, loop1 to get the current selection and loop2 to display the other links. On second thought it seemed like a bad approach. The following seems like a better idea:

[code]

The reason I would want this is because now I can tab

[2016-02-13 10:12] SahAssar commented on #5
Hey,

This solution is a bit crude, but should work:

    <ul class="localeswitcher">
        {% for iso, locale in locales if locale.slug == app.request.get('_locale') %}
            {{_self.localeoutput(iso, locale)}}
        {% endfor %}
        {% for iso, locale in locales if locale.slug != app.request.get('_locale') %}
            {{_self.localeoutput(iso, locale)}}
        {% endfor %}

[2016-02-13 22:56] Puddingboy commented on #5
So you prefer a 2 loops option? In my own attempt I had excluded the link from the loop and used a js object to match a language label with the abrivation. I was just wondering if there was a better method. My attempt.

[code]

accompanied with a piece of js:

[code]

I wish there was something I could use to create a proper label without having to create several loops or a js attachment.

[2016-02-18 21:56] SahAssar commented on #5
@Puddingboy Sorry it's taken me so long to respond to this. I do think that a double loop in twig is going to be much, much more efficient than doing it in JS clientside. I'm still in the early phases of this extension and if adding a feature like this is going to be helpful to you I can imagine it will be helpful for others too. I'll get on this as soon as I have a spare moment :)

[2016-02-18 22:00] Puddingboy commented on #5
Please don't make it a priority if you have other debugging to do and important features to add. This will be a minor convenience for my case.

[2016-02-18 22:18] SahAssar commented on #5
@Puddingboy If you have any hints for SEO compatibility that would probably be helpful! I'd be very interested in hearing what needs to be done on that front, could you open a issue with those suggestions since I probably need fix some things there for work soon anyway.

[2016-02-22 10:21] Puddingboy opened #6 "Any suggestions to creating a translated menu?"
menu{locale}.yml or would you
[code]

p.s.: Sorry for skipping on the SEO. I'm still working on it.

*edit:
nvm. Found the answer: removing the title property from the menu will replace it with the slug for the set language.

[2016-02-22 10:51] #6 closed

[2016-02-22 11:52] Puddingboy opened #7 "Search"
What do I use to display a translated working searchbar? I've already included the snippet on the frontpage of this repository. The search bar now redirects me to an error page

[2016-02-22 14:19] SahAssar commented on #7
Hmm, I haven't tried searching out yet, I'd assume that it will only work for the default language...

[2016-02-22 14:37] SahAssar commented on #6
I usually do something like this:

	main:
	  - label: 'Om Oss'
		enlabel: 'About Us'
		path: sidor/om-oss
	  - label: 'Om tjänsten'
		enlabel: 'About the solution'
		path: sidor/om-loesning

and then in my menu.twig I do `{{ item[app.request.get('_locale')~'label'] ?: item.label }}`.

[2016-02-22 14:44] Puddingboy commented on #7
search should filter on the selected language and only index pages for the current language.

[2016-02-22 16:35] Puddingboy opened #8 "page setup"
This is a bit complex to explain, but I hope you'll bear with me. What happens is. I first have to save a new page before I can add languages. This is not bad. However, after I've saved the page the main language inherits from this saved page. This is not the issue I want you to fix, I would like you to look into the following:

Can you also make it so that the main page also inherits from the mai

[2016-02-22 22:43] SahAssar commented on #8
@Puddingboy Is your backend language (the `locale` setting in config.yml) set as the same as the first locale in the `locales` setting? cause if it is it should work pretty much as detailed, I'm working on a update to make this more obvious/ fix it permanently.

[2016-02-22 22:46] SahAssar commented on #7
Yep, agreed. It just might be a bit of a larger solution than I could "hotfix", so I'm putting this on the "todo, but let's get a plan first" pile ;)

[2016-02-23 07:47] Puddingboy commented on #7
I am curious about something recently. I have encountered a few situations by now where if I could just get the abrivation of the current language as a global or something simular it would make things a little easier.

For example in the index/header the search action attribute will likely require something like this: `action="{domain}/{lang}/search"`. I am hessitant to literally ask this of you,

[2016-02-23 08:59] Puddingboy commented on #8
[code]
This is my locale setting, in which Dutch is my main language.

What happens is that someone can click on a page in the pages menu and they are redirected to some kind of parentpage. Somehow parentpage and mainlanguage are not in sync.

[2016-02-23 10:02] SahAssar commented on #8
@Puddingboy what is your backend language set to? Is that also set to nl_NL?

[2016-02-23 10:05] SahAssar commented on #7
@Puddingboy Any reason {{ app.request.get('_locale') }} does not work for you?

[2016-02-23 10:17] Puddingboy commented on #7
In a previous attempt it didn't work. My bad. I suppose I had a syntax error or copied the wrong line. Sorry for the inconvenience.

[2016-02-23 10:20] Puddingboy commented on #8
It's set to english it seems. I have yet to find the file/tab where these settings are defined. In the translations it doesn't offer me an option to switch

[2016-02-23 12:13] SahAssar commented on #7
@Puddingboy No problem :)

[2016-02-23 12:13] #7 closed

[2016-02-23 12:37] #8 closed

[2016-02-23 12:38] SahAssar commented on #8
@Puddingboy I added a line in the readme and a flash message about this, hopefully it should be more clear now.

[2016-02-24 08:10] Puddingboy opened #9 "What is happening to my page url and how do I fix it"
[code]
These are what my page urls look like.
How do I fix the slug?

[2016-02-24 11:24] SahAssar commented on #9
If you have tagged the slug field as translatable it will try to generate a slug for that language. You probably need to go into those records and click the unlock button to re-generate those slugs to make them "pretty".

[2016-02-24 11:24] #9 closed

[2016-02-24 15:16] Puddingboy opened #10 "Page creation issue"
I notice that creating a page, sometimes previous content fills the page. Please note: I first prefilled the page with dummy content using the fill option.

Now after deleting a truckload of pages, previously removed content shows up on the page id's of freshly created pages. page ID1 which should be filled with the title Nieuws shows up on the page as Istam.... asdf something. The same goes for m

[2016-02-24 21:23] SahAssar commented on #10
Could you update to 1.1.2 (which I just tagged, so it might take an hour for it to appear in bolt's extensions) and see if the issue persists?

[2016-02-25 07:48] Puddingboy commented on #10
I just updated, but I'm still having an issue. My homepage content which is tied to page Id16 right now, but the on the user side we still see page content of a Diensten page that isn't supposed to exist anymore since I personally deleted that page.

[2016-02-25 08:18] SahAssar commented on #10
@Puddingboy Yeah, you can just delete all the rows in the bolt_translation table... But first could you check in there and see if the content looks correct? I'm sorta having a hard time debugging this...

[2016-02-25 08:27] Puddingboy commented on #10
Can you give me a list of steps i can go through to help you out in figuring out what's going on?

[2016-02-25 08:42] SahAssar commented on #10
Basically the translation table has 5 columns, locale, field, content_type_id, content_type and value.

The first four are set as the primary key, so just find the row where value contains the text for your homepage, and see if it is set to the correct content_type_id and content_type.

[2016-02-25 08:54] Puddingboy commented on #10
I am familiar with commandprompt, sublime text3 and phpmyadmin. What programs are generally used to edit these tables? I am working with filezilla by ftp to edit these files. I'm open to a new approach if needed.

[2016-02-25 09:07] SahAssar commented on #10
If you are using MySQL HeidiSQL should work fine, if you are on SQLite you can use http://sqlitebrowser.org/.

[2016-02-25 12:03] Puddingboy commented on #10
After doing a clean install I already get an issue between the install steps 3-5. claiming locale is not a valid type for locale:
[code]

Do I need to change type to something else or did I forget something?

[2016-02-25 14:53] SahAssar commented on #10
Hmm, as long as "locales" is set in your main configuration it should load the field... is locales set in your config.yml? if so, what is it set to?

[2016-02-25 16:17] Puddingboy commented on #10
I just saw that my changes to locales were not omitted after hitting save. After doing so I noticed you are using en to refer to the locale in the routing but for a more clear example I would use en_EN. At least that notation was required for me.

On a sidenote I got a message from our IT guy who told me your code was written for a 5.4+, but for the server we'll be placing our bolt setup on we'll

[2016-02-26 08:39] SahAssar commented on #10
The extension checks for the "en" way to define a language in the _locale parameter and gets the respective "en_GB" langaugecode when fetching from the database, so that shouldn't be an issue AFAIK.

The issue makes a lot more sense now that I know that you are on php 5.3, I'll change the syntax in those places to be compatible with php 5.3 and release an update in an hour or so.

[2016-02-26 09:10] Puddingboy commented on #10
I'm actually not working on php 5.3. I'm working on 5.4. Only the first paragraph was the issue I was having. Everything past that is a recent test for the other server

[2016-02-26 11:13] SahAssar commented on #10
Ah, sorry. Do you have any errors in the js console or in bolt's system log? Did you check the DB?

[2016-02-26 12:51] Puddingboy commented on #10
I'm not having any particular php or js errors that I can tell. Do you have to update the version number so I can download the extension with the recent changes?

[2016-02-26 12:56] SahAssar commented on #10
Yeah, I just tagged a release, but none of those should have effected your PHP 5.4 install... Did you check the DB as we spoke about in https://github.com/AnimalDesign/bolt-translate/issues/10#issuecomment-188671744 ?

[2016-02-26 12:58] Puddingboy commented on #10
After changing the nl_NL in routing to just nl I did not get any further errors.

[2016-02-26 13:09] Puddingboy commented on #10
I'm getting an error after deleting a recently created page. I purposefully deleted a page to see if this error persists.

http://puu.sh/nm4No/754405e1ed.png

I got the error after hitting the delete from the dropdown menu here on the right:
http://puu.sh/nm4Qf/33e02da910.png

I've got my assumptions previous database issues came from this issue too.

Have you got any ideas to this?

[2016-02-26 13:11] SahAssar commented on #10
Yeah, sorry, I forgot that I snuck a fix for that into the php 5.3 update too, so just update to 0.1.3 and that should be fixed!

[2016-02-26 13:19] Puddingboy commented on #10
should I clean my database just in case? how do I find the table I am looking for using your previously mentioned DB browser. I was hoping to find some data I could read and understand, but I'm having some troubling finding what I'm looking for.

[2016-02-26 13:30] Puddingboy commented on #10
I found it already. I found a table for your translate plugin with 3 entries for ID2.

I just deleted those 3. Would this be enough or are you using other tables aswell?

[2016-02-26 13:36] SahAssar commented on #10
bolt_translation is the only table used for translated fields, so that should be enough.

[2016-02-26 13:40] Puddingboy commented on #10
I'm also not too familiar yet with bolt in general and I'm sure you can tell, but I was just wondering if it is generally possible to change page Id's in a way that I can reorder my menu and nextpage prevpage links?

[2016-02-26 13:58] SahAssar commented on #10
Previous and next are usually decided using datepublished, but you can pass in a custom parameter if you want to sort by something else, see here: https://github.com/bolt/bolt/blob/0b93c1797693e4a679f7082e98099d168a6fb14e/src/Content.php#L1255-L1257

The order of the menu should just be the order of the items in your menu.yml, so that's unrelated to the Id's...

[2016-02-26 14:10] Puddingboy commented on #10
I don't mean to push you, but have you got any progress in regards to splitting the search by language?

[2016-02-26 14:13] SahAssar commented on #10
Sorry, no... I have been pushed into other projects at work, so that might be a while... I'm going to try to fix any bugs in this extension as soon as I know about them, but when it comes to functionality that will probably take a little while (a few weeks at least)...

[2016-02-26 14:15] Puddingboy commented on #10
Do you have a temporary solution if I would just want to display the results for 1 language for now so that I at least can display a search for the main language?

[2016-02-26 14:17] SahAssar commented on #10
IIRC search should work for the main language just like expected, it just won't work for any other language...

[2016-02-26 14:18] SahAssar commented on #10
Just tested it, yeah, searching works for the main language, just not any other language.

[2016-02-26 14:20] Puddingboy commented on #10
ok. I've got a question about the language tab(locales tab?). How come it is visible if I hit Save & create new page, but not when I first create a page. It's not a bother or anything, it just left me wondering.

[2016-02-26 14:23] SahAssar commented on #10
It's because it needs an id to save translated content, and before a page is saved for the first time it doesn't have an id...

[2016-02-26 14:25] Puddingboy commented on #10
is Save & create new page a bit fragile atm? Should I avoid it?

[2016-02-26 15:21] Puddingboy commented on #10
Any idea why my custom localeswitcher returns empty space at the moment? I placed it within my theme and used `{{ localeswitcher('_my_localeswitcher.twig')|raw }} to fetch it. removing the `|raw` part doesn't even throw an error. I wish I could say the localeswitcher itself is empty right now, but it isn't. I've costumized the one located in your extension for now, but I don't think this is a good

[2016-02-26 15:37] SahAssar commented on #10
Is your custom localeswitcher in the root folder of your theme? If so could you post the code here?

Also, save&create new shouldn't persist the old id, but if it does then that is definitely very fragile and should not be used until I can get a patch out...

[2016-02-26 15:41] SahAssar commented on #10
I very much appreciate your input and bug-hunting, but this issue is getting very long and unwieldy, I'd prefer if we closed this one (if the original issue is indeed fixed) and that you open a new one for each individual bug/question that is unfixed/unanswered, that way I can also refer to issues from commits and it will be easier to see which are actually fixed or not.

Would you be okay with th

[2016-02-26 15:46] Puddingboy commented on #10
Ofcourse

[2016-02-26 15:48] SahAssar commented on #10
Alrightio, then I'm closing this one, if you still experience the original issue ("when creating a page, sometimes previous content fills the page"), then feel free to reopen this :)

Thanks for understanding!

[2016-02-26 15:48] #10 closed

[2016-02-26 16:03] Puddingboy opened #11 "Localeswitcher returning whitespace"
the code:
[code]
localeswitcher.twig located in my theme:
[code]

It returns whitespace and nothing more. Even when I remove the `|raw` part. Not even the `ul` is displayed in the document. yet no error is thrown in the system log

This is as much info as I have.

[2016-02-26 16:08] SahAssar commented on #11
Would it be possible to get access to your backend to "poke" at the issue? Just looking at this it's hard to tell where the issue originates.

[2016-02-29 09:34] Puddingboy opened #12 "php 5.3 remains instable"
Allow me to first explain something from my side: the IT guy I was referring to is the one running php 5.3 and I'm the one running 5.4. He was gone past fryday so I couldn't contact him to ask if things were solved. While I'm developing on the main page in the test envirement, our IT guy is just checking if bolt with the plugins is running stable on the main system. I wouldn't have been able to co

[2016-02-29 15:09] SahAssar commented on #12
I finally "capitulated" :wink: and got found some shared hosting that has php 5.3 to test on (I use CentOS 7 on my servers and php 5.3 is uninstallable on that) and fixed all the bugs I could find. You also had some issues with the default content displaying in other languages, right? Cause that should be fixed too, that was a issue with an `array_filter` that didn't appear for me in php 7. Could

[2016-02-29 16:36] Puddingboy commented on #12
I fear the last submit as a dev-master did not register yet or not properly so he had to work his way around it. To the point: this seems to have fixed the issue. What would tabs etc would you like us to check before you'll submit this as an update?

[2016-02-29 18:58] SahAssar commented on #12
Seems good enough for me, It worked on my php 5.3 install and it works on yours, which is one more test environment than we had before :) I'm tagging a release now, so it will be in bolt extensions in an hour or so.

I'm also closing this since it should be fixed by b32f16c648e1fa22df33b5979c5c83f8cf8d3443, if you have more issues please let me know :)

[2016-02-29 18:58] #12 closed

[2016-03-01 09:20] Puddingboy opened #13 "Label translations throws error page"
I think this has been going on for longer and I believe it could be due to my own misconfiguration. How do I figure out what's going on?

[code]

![](http://puu.sh/nqKhc/6415d81578.png)

![](http://puu.sh/nqKad/e303a59b9e.png)

Can you help me figure this out?

p.s: I just got word that we're having the same issue on the 5.3 server and it also seems that installing the 0.1.4 of translate throws an

[2016-03-01 11:41] SahAssar commented on #13
Hmm, the first part (the routing that was bound to the contenttype 'sida') is fixed in the example routing now, the others seem to be composer/git problems... Have you changed to config to use 'http://extensions.bolt.cm/' instead of 'https://extensions.bolt.cm/' as we talked about on IRC?

[2016-03-01 13:22] SahAssar commented on #13
Closing since fixed in IRC

[2016-03-01 13:22] #13 closed

[2016-03-01 13:22] SahAssar commented on #11
Closing since fixed in IRC

[2016-03-01 13:22] #11 closed

[2016-03-07 08:54] Puddingboy opened #14 "localeswitcher suggestion"
[code]
For usabillity preferances it may be convenient to have this type of presentation. I don't want the original one to be replaced. I just would like to add this as a suggestion. The other one is just fine as is.

As for the php part of this form. I would like to leave it up to you as I'm pretty sure you have your own ideas aswell.

[2016-03-07 09:05] madc commented on #14
Maybe we should remove the localeswitcher frontend from the extension and just add docs with information on how to implement one?

[2016-03-07 09:34] Puddingboy commented on #14
I'm not sure about that. It may be best to leave a basic and simple example in the extension files. Within this twigfile you could then reference to your mentioned documentation so that people can indeed use their own variations.

People can use whatever output for whatever reason so I would suggest placing one basic output like this:
[code]
This way you have a very simple output that every person

[2016-03-07 09:37] SahAssar commented on #14
@Puddingboy How about we use the listbox role to make it accessible? Then we could include the option to have flags in it too without having to include a bunch of JS... https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_listbox_role

[2016-03-07 09:38] Puddingboy commented on #14
That's actually a really good idea. I didn't know about the listbox role yet. Please do :)

[2016-03-07 09:48] Puddingboy commented on #14
What about a discriptive label? is such a thing possible for those listboxes?

such as:
`What is your favorite color? <options>`

This way it's always clear what's being asked, rather than assumed.

[2016-03-07 09:55] SahAssar commented on #14
Yeah, we can always use https://www.w3.org/TR/wai-aria/states_and_properties#aria-label

[2016-03-09 11:47] Puddingboy opened #15 "Choices not being translated"
The choices of selectboxes are currently not being translated.

example:
http://puu.sh/nAgCU/65931864ce.png

while the label for the selectbox gets wrapped in <mark>, the options within the selectbox are not being translated.

[2016-03-10 06:38] SahAssar opened #16 "[RFC] Wish/todolist for the extension"
So I thought i'd start a wishlist of features that I want to implement, these are the ones I can think of right now:
- [x] Check that we can support all extensions that add fields (currently it should work with gridview, SEO, colorpicker and iconpicker)
- [x] Better and more thorough documentation
- [ ] **Unit tests**
- [x] ~~Proper lang headers/html attrib~~
- [x] rel="alternate" links in head
-

[2016-03-10 08:27] Puddingboy commented on #16
As I've recently started using this together with boltforms, I'm wondering if you have intentions to change your translating approach. You personally referred to your current solution as "hacky".

The reason I'm asking is because fiddling around in templates of other extensions seems like rather fragile approach as a single update could throw things off. I'm curious if you were already thinking of

[2016-03-10 09:15] SahAssar commented on #16
Puddingboy: Yeah, my plan is to change that completely. Regarding the updating issue, you can have the form template in your theme folder, so it's not overwritten by any updates to boltforms.

[2016-03-15 12:17] martaan opened #17 "The slug does not change when returning to the default language through {{ localeswitcher() }}"
The slug does not change when returning to the default language through  {{ localeswitcher() }} .

ex. en/theenglishslug > sv/theenglishslug

[2016-03-31 10:57] Snickerss opened #18 "Problem with installation (bolt-translate extension)"
Hello.
I want to use the Translation plugin in my BOLT project.

I setup bolt-translate extension and done steps from "read me".

I dont understand # 8 step (Translate your boltforms by adding {% set form = translate_form(form) %} at the top of a form template. This requires the labels extension. (the current solution is very hacky, WIP)) and # 9 step (If you use the menueditor extension it will a

[2016-04-01 13:40] CNK001 commented on #13
I have the same error, how you fixed this?

[2016-04-01 13:56] Puddingboy commented on #13
@CNK001 what version of bolt-translate and labels are you running and what version of php? I am running bolt-translate 0.1.4 the error may origin form the latest version. If so, it may be better to open a new topic.

[2016-04-04 07:45] SahAssar commented on #18
Hey @Snickerss,

# 8 is "optional" and you only need to do it if you use the boltforms extension to make contact forms or similar things and want those to have translated placeholders/labels.

# 9 is also optional since it's only if you want your menu to have translated labels shown.

Both require modification of templates (the .twig files in your theme), so if that's not your thing you can just i

[2016-04-04 07:46] SahAssar commented on #18
If you just follow all the other steps you will get that.

[2016-04-04 07:47] #18 closed

[2016-04-07 12:57] Puddingboy opened #19 "will the translate also work properly for records?"
I don't know how much you've actually got covered at this point.

[2016-04-07 19:24] SahAssar commented on #19
What doesn't work for you? Cause translating fields and templatesfields in records should have been covered/fixed.

[2016-04-07 21:02] Puddingboy commented on #19
@SahAssar oh they work just fine. I already fiddled around a little. Sorry for the late response. By the time I saw your comment I facepalmed hard that I hadn't marked this issue as solved.

[2016-04-07 21:02] #19 closed

[2016-04-07 21:05] SahAssar commented on #17
Fixed in 0c09b7c

Closing, please reopen if it reappears!

[2016-04-07 21:05] #17 closed

[2016-04-13 13:36] madc commented on #16
First, thanks for taking such great care of this extension. I currently have some bolt projects coming my way again, so expect more participation on my part. Except for the automatic google translation, i find all your points interesting. I'll go through your code later this week and see, what i can add and support.

As for the automatic translation: It it runs server-side, it has to either cached

[2016-04-13 18:20] SahAssar commented on #15
This should now be fixed, I've done it in a way that does not really depend on this extension, but we rather ship a form_theme with it that can be used for translating boltforms.

[2016-04-13 18:20] #15 closed

[2016-04-13 18:22] SahAssar commented on #16
@madc Yeah, that one isn't that high in my priorities. I was mostly thinking of what features we might want and thought it might be useful in some edge cases. I'll cross it out for now, and if someone requests it we can reconsider.

[2016-04-14 07:45] Puddingboy opened #20 "default theme outputs dump()"
Due to this being included in the template:
[code]
It's not a major issue, but it may be a decent idea to make sure this output is not triggered, so that it doesn't look like things are not working correctly.

[2016-04-14 08:00] SahAssar commented on #20
Just adding some context from what I said on IRC:

Well, previously you couldn't access the original values in a record that had translated values, I changed that and put those in a special value that is called delocalizedvalues, but bolt's default theme loops through all the values on a record and when it reaches that one it does not know how to display it so it simply dumps them. Whether it's a

[2016-04-16 16:51] SahAssar commented on #13
@CNK001 Do you have the labels extension installed? This extension currently requires it, but that will be fixed in the next version.

[2016-04-18 17:19] flrvt opened #21 "Composer install breaks the language switcher in the backend"
I am setting up a Bolt site, and just installed the Translate extension. As discussed in Slack, the issue I'm encountering probably is because of the composer install.

For completeness, this a part of what my `contenttypes.yml` looks like:

[code]

I followed all the required steps in the README of this extension, but when I switch language on a page in the back-end, the browser points me to a Wh

[2016-04-18 17:37] GawainLynch commented on #21
The `composer.json` needs a `""bolt-assets" : "",` parameter in the `"extras"` section

Something like:
[code]

Only problem being is that Twig assets are mixed in with web assets currently.

[2016-04-19 13:23] #21 closed

[2016-04-19 18:36] flrvt opened #22 "Templatefields are translated and stored correctly, but translations can't be set"
When using translatable templatefields, it seems like the extension's javascript is unable to set all the individual fields to its translated counterpart. I ran into this issue while using a template that has 10 fields, including html and image fields.

As I was troubleshooting this, I noticed the translated fields are correctly set in the `bolt_translation` table. The JSON stored there, is parsea

[2016-04-24 14:35] SahAssar commented on #22
Fixed in 37cf552, new release tagged for it too... Closing.

[2016-04-24 14:35] #22 closed

[2016-05-11 18:03] SahAssar opened #24 "Compatability with bolt 3.0"
This is outdated, see #26 for info/code

---

Well, 3.0 is out, and we've know it was coming for some time... So I'm gonna try to use this as a tracker for the issues we encounter when moving the extension to 3.0.

Besides the obvious issues of extension structure we have

* Some new nuances when it comes to mounting/overriding controllers/DI
* New js, which will have a different event structure
*

[2016-05-16 17:06] frozenshadow opened #25 "Preview and Live edit not working"
First of all thank you for this great extension!
The whole thing is working nicely with bolt, except for the preview and live edit functionality.

I’m currently running Bolt 2.20 along with the latest version of this extension. And followed the installation manual from the readme.md (including the routing setup).

I did some small testing with the routing configuration. And found that after removi

[2016-05-16 17:55] SahAssar commented on #25
I don't think that I can get live-edit working, but preview should be possible. The hard part would be to make sure that the rest of the page (menu, other content pulled in and so on) is in the locale selected in the editcontent page... I personally have never really used the live-edit or preview functionality much, are these something that you use much in bolt?

[2016-05-16 19:25] frozenshadow commented on #25
I see, that’s a shame. I actually picked Bolt because of the live edit feature.
Is there anything I can do to make it work, maybe a workaround…?

[2016-05-16 21:27] SahAssar commented on #25
Hmm, It seems like live-edit and preview has the same problem, which should be fixable. Basically we need to set the bolt locale around here: https://github.com/bolt/bolt/blob/release/2.2/src/Controllers/Frontend.php#L172 to make sure that the correct content is fetched and then make sure that we inject a hidden input element into the rendered live-edit doc that contains the locale...

So, it seem

[2016-05-16 22:24] frozenshadow commented on #25
Good to hear it’s fixable!
Looking forward for the fix (no pressure off course ;)

[2016-06-10 07:28] KeizerDev commented on #25
Any news on this?

[2016-06-28 16:39] jnvsor commented on #24
Any movement on this recently?

[2016-06-29 08:46] SahAssar commented on #24
@jnvsor I'm working on it right now, it'll pretty much be a full rewrite though.

[2016-06-29 08:55] SahAssar commented on #25
@KeizerDev Sorry, no. I'm working on 3.0 compatibility now and can hopefully get this working in that version and then perhaps backport it.

[2016-07-01 11:21] peterboorsma commented on #24
I'm not trying to push you here but can you say anything about a releasedate?

[2016-07-01 13:31] SahAssar commented on #24
@peterboorsma Well, the way I'm planning to implement it (localizing the values in the PRE_HYDRATE event) has a small bug that needs fixing in bolt before I can complete/test this...

But, hopefully it won't take long after that is fixed.

[2016-07-03 12:56] peterverraedt commented on #24
@SahAssar It is also possible to implement it by overriding the fieldtypes and localize in custom hydrate and persist-handlers, following the implementation of repeaters. For an experimental implementation of this, my [I18nTypeBase class](https://github.com/peterverraedt/bolt-translate/blob/master/src/Storage/Field/Type/I18nTypeBase.php). Note that I store translated values exactly as how repeater

[2016-07-10 07:49] SahAssar commented on #24
@peterverraedt Thanks, that was also my first thought when I couldn't get it working in hydration events, but IIRC that won't be very forward compatible (for 4.0). I have the basic save/persist/hydrate working now from the hydration and storage events, so now it should just be to fix up the menubuilder and then go bughunting :smile:

[2016-07-10 12:59] peterboorsma commented on #24
I'm working on a site that needs your extension. Ik can help you with bug hunting.

[2016-07-10 13:10] SahAssar commented on #24
@peterboorsma That'd be great! :smile: My first draft of this is in #26

Keep in mind that it's still pretty unpolished, but in my testing it's worked pretty well.

[2016-07-10 13:20] SahAssar commented on #24
@peterboorsma Also, keep in mind that this is not compatible with latest stable due to bolt/bolt/pull/5518 not having landed yet... It will only work with 3.0-dev or master until the next 3.0 minor is released.

[2016-07-10 13:37] SahAssar commented on #25
This is fixed in #26, but that is going to be 3.0 only, and the 2.2 and 3.0 versions of the extensions won't be compatible. After I get the 3.0 version out the door I can look at getting it on 2.2 if there is still demand.

[2016-07-11 09:36] peterboorsma commented on #24
Hmm.. I guess I have to wait until  bolt/bolt#5518 is fixed then. I'll ask Gawain about it.

[2016-07-11 09:53] SahAssar commented on #24
@peterboorsma Just to be clear, it is fixed and merged into bolt, it's just that we need to tag a new release of bolt for it to be included in (that's going to be 3.10).

[2016-07-12 18:59] SahAssar commented on #24
As noted in https://github.com/bolt/bolt/wiki/Dev-meeting-2016-07-12 we are moving forward to getting it (bolt 3.0.10) tagged, but I'd like to get a fix for repeaters in first, so that the extension is compatible with arguably the most awesome new feature of bolt 3.0. I'm going to work with rossriley on how to get it done.

Anyway, the rest of it should be pretty fine for testing, I've just disabl

[2016-07-13 12:06] peterboorsma opened #27 "Error adding 'locale' to DB (dev-master (e8f834))"
Version: dev-master (e8f834)
Bolt version: 3.0.9. pl 1

I know it's a work in progress. But  maybe it's useful.
When adding 'locale' to the contenttype.yml fields the following error occurs after trying to update the database:

"Er is een fout opgetreden tijdens het bijwerken van de 'bolt_paginas'. De fout is An exception occurred while executing 'ALTER TABLE bolt_paginas ADD locale LONGTEXT DEFAU

[2016-07-13 13:19] peterboorsma commented on #24
I started using it. First error detected. :) See https://github.com/AnimalDesign/bolt-translate/issues/27

[2016-07-13 14:05] madc commented on #27
Why is locale a `LONGTEXT`? Shouldn't `varchar(5)` be enought?

[2016-07-13 14:21] SahAssar commented on #27
@peterboorsma Try now, I just pushed a fix. You're on mysql, right?

@madc Seems like it was leftover from when I was planning to use that column for the actual storage of the localized data, should be fixed now.

[2016-07-13 15:20] fojtcz opened #28 "Can't edit English content"
Hi,

my default language in Bolt is Czech, I can create new entries with no problem. Everything is saved in database. But if I go to list of entries and try to open my English entry. I see only Czech texts.

Sorry for my English,
Martin

[2016-07-13 15:51] SahAssar commented on #28
Hey @fojtcz,

So, both the default language (first in locales) and your bolt backend language is Czech, right? Is this on bolt 2.2 or 3.0?  Also, can you check in your browsers dev tools if you have any errors there?

[2016-07-13 16:45] peterboorsma commented on #27
Yes, MySQL.
The updater can't find a new version (current dev-master (e8f834). @bobdenotter and I tried to download it (witth the Bolt updater and command line also) but keep getting the e8f834 release.

[2016-07-13 16:52] SahAssar commented on #27
@peterboorsma Yeah, it seems like the update button on the extension store only checks for tagged releases, not updates to dev-master... If you have CLI access to the server you can go to the directory and `git pull` to get the changes, or you can manually copy/change the changed files or you will need to wait until it get's updated in the extension store via the cronjob (which I think is nightly)

[2016-07-13 17:06] fojtcz commented on #28
Hi @SahAssar,

yeah, i set my default language to Czech. I am using latest Bolt 3.0. I don't see any errors in dev tools.

[2016-07-13 17:35] peterboorsma commented on #27
No worries. It's nice to test stuff.

[2016-07-13 17:37] SahAssar commented on #28
@fojtcz could you post your contenttypes.yml, your extension config (translate.animal.yml) and your config.yml so that I can reproduce the issue?

Thanks!

[2016-07-13 17:40] SahAssar commented on #28
@fojtcz Oh, wait, you're using the latest stable 3.0? Cause this will only work in the dev version of bolt 3.0 until 3.0.10 is released...

[2016-07-14 05:03] fojtcz commented on #28
@SahAssar yes, i am using stable version of Bolt 3.0.9.

my `translate.animal.yml`

[code]

[2016-07-14 05:51] SahAssar commented on #28
@fojtcz Well, then that's the issue... This extension will not work with 3.0.9 or earlier versions. It will only work with stable when the next bolt version is released. Please see #24.

If your interested in why, it's because there was a small bug in PRE_HYDRATE, so [this](https://github.com/AnimalDesign/bolt-translate/blob/master/src/TranslateExtension.php#L110-L131) callback basically does noth

[2016-07-14 05:51] #28 closed

[2016-07-14 11:15] peterboorsma opened #29 "Translatable fields are not showing: dev-master (6d1a7d)"
After installing and adding the correct additions to contenttypes.yml, config and updating the database.
Two issues:

1. Existing items now have a Language tab. The tab dropdown items have links like this: http://bla.localhost/bolt/editcontent/paginas/1?_locale=en
but the toggle to the translatable fields don't work. (page reloads instead of showing the right fields)

2. New items don't show the l

[2016-07-14 11:27] madc commented on #29
Do you get any Javascript errors in the console?

[2016-07-14 11:51] peterboorsma commented on #29
Yes.

[code]

[2016-07-14 12:44] SahAssar commented on #29
1. That's intentional for now. Until you have saved it it does not have anywhere to "save" the translations, (I'll try to work around this in the future to allow records to only be in an non-default locale).

2. The behavior is changed from setting the items via JS to setting them on the backend via the _locale query string. This is done so that we don't have to write specific js code to load fiel

[2016-07-14 12:51] peterboorsma commented on #29
[code]

[2016-07-14 13:10] SahAssar commented on #29
@peterboorsma The issue here is just that while fixing a few other things I changed isTranslateable to is_translateable since it better follows bolt's and YAML's rules about key names that way (I thought it was best to fix all the things that has bothered me in one breaking change when I have to bump major versions anyway).

Just change isTranslateable to is_translateable and it should work :)

[2016-07-14 14:26] peterboorsma commented on #29
Yes. I used the old "isTranslatable". Updated them now.

But...
(and I am sorry) the translations aren't stored properly. If you toggle back and forth between the languages the translated fields are not saved.
Is it intentional that the page is refreshed in the browser instead of changing the translatable fields 'ajaxy'? Because that's what's happening.

[2016-07-14 15:29] SahAssar commented on #29
@peterboorsma yeah, it's intentional to refresh the browser instead of doing it ajaxy... That way it will be much more compatible and robust. The old way of doing it ajaxy would be much harder to make compatible with extensions and would require us to write js for loading values into every extension fieldtype.

For me (when testing with your contenttype) it seems like DB query result is getting ca

[2016-07-14 15:33] SahAssar commented on #29
@peterboorsma Or you should be able to disable the cache by adding `database: false` to the caching config in config.yml so it looks like this:

[code]

[2016-07-14 18:09] zomars opened #30 "[RFC] Simple language alternator"
Most of the multilingual websites I made use only 2 languages, so it's kinda overkill to present a whole dropdown menu just to switch between the two. It would be nice to have a simple link that changes depending on the current language.

Here's my approach for `_localeswitcher.twig`:

[code]

[2016-07-14 19:25] SahAssar commented on #30
@zomars: Would this be for the backend one, the frontend one or both?

[2016-07-14 19:27] zomars commented on #30
My solution is for the frontend only, but maybe it could be implementing according to the number of the configured languages. Mine's just a quick fix.

[2016-07-14 19:52] madc commented on #30
First, thanks for sharing your snippet. The way, I see it, the `_localeswitcher.twig`, that is included with the extension, is just demonstrating how to implement such functionality. The template of the twif function can easily be overwritten. Also, the `ul` from the default template can be styled with CSS, so will look exactly like yours.

[2016-07-14 21:29] SahAssar commented on #30
In addition to what @madc said it is also planned to have proper language codes (as rel="alternate" and hreflang="lang-here") for each link in both a the localeswitcher and to add them to `<head>` (automatically that is), IIRC it helps search engines and accessibility to have a link that is "active"/"current" when doing that. adding `.localeswitcher .active { display: none;}` should remove that el

[2016-07-14 21:36] SahAssar commented on #27
This seems to have been fixed in the latest 3 commits, so I'm closing,

[2016-07-14 21:36] #27 closed

[2016-07-14 22:10] zomars opened #31 "[BUG] Doesn't save data on repeater fields"
I got a website that use repeater fields a lot. I tried to configure my `contenttypes.yml` like this:

[code]

Maybe I'ts not supported but I couldn't find anything in the docs.

Thanks for keeping this plugin so great, cheer mate!

[2016-07-14 22:23] madc commented on #31
I think, that repeaters are not yet implemented, see [#24](https://github.com/AnimalDesign/bolt-translate/issues/24#issuecomment-232145559)

[2016-07-14 22:25] zomars commented on #31
I see, still this counts as a bug right? I wasn't aware it was mentioned there.

[2016-07-14 22:58] zomars opened #32 "[BUG] An exception occurred while executing 'UPDATE bolt_pages SET..."
Hi, Sorry I'm bothering again. I'm getting this error when trying to save a Title field:

[code]

[2016-07-15 06:23] madc opened #33 "Github Issues Template"
As issues are slowly starting to come in, we should add [Issue and PR templates](https://github.com/blog/2111-issue-and-pull-request-templates).
Will propose one later.

[2016-07-15 08:31] #32 closed

[2016-07-15 08:32] SahAssar commented on #32
@zomars Should be fixed now, thanks for reporting!

[2016-07-15 08:37] SahAssar commented on #31
@zomars They should be implemented on the backend, but not on the frontend due to bolt/bolt/issues/5533. Do they not work on the backend for you?

[2016-07-15 16:29] zomars commented on #31
I think the reason it wasn't working in the backend was because of #32. I'll update and test it again.

[2016-07-15 17:07] SahAssar opened #34 "Github webhook for extensions.bolt.cm"
@madc Could you perhaps add the github webhook for this repo? The hook to add is `https://extensions.bolt.cm/hook?token=7b894fc540811b2aa56da22953354fcc `.

I know this is a bit odd since I can't add it since it's in your github organization but the submission to extensions.bolt.cm is in my user, but we'll make it work :)

[2016-07-15 19:56] madc commented on #34
We will.. Hope, that I will find more time to contribute again in the future.

I added the webhook and it ran successfully. Closing this issue, but feel free to re-open, if something's wrong.

[2016-07-15 19:56] #34 closed

[2016-07-16 09:07] peterboorsma commented on #29
I made a copy of my test site on my dev server. Things work fine there so it must be something on my local server. I'll try to figure that out.

[2016-07-16 11:18] peterboorsma commented on #29
Problem fixed with dev-master (7fa12c) + Bolt 3..0.10

[2016-07-16 11:18] #29 closed

[2016-07-16 12:05] SahAssar commented on #29
Great :)

[2016-07-18 09:08] SahAssar commented on #31
As of bdac3fa repeaters should work both in front and back end, @zomars could you check if the issue is solved for you? Perhaps I can then tag a release of the ext :)

[2016-07-18 10:16] #33 closed

[2016-07-18 11:10] madc opened #36 "[BUG] Default {{ localeswitcher() }} not working properly on subfolders"
My local dev-environment normal is set up like `http://client.dev/<name-of-client>`. Just throwing `{{ localeswitcher() }}` into the template results in links without `<name-of-client>` (i.e. http://client.dev/en)

Details
-------

 - Translate Version: master
 - Install type: Extension Repository
 - Bolt Version: master
 - PHP version: 7.0
 - Used webserver: Apache 2.4

[2016-07-18 11:42] SahAssar commented on #36
Hmm, I've never run bolt in subfolders, did this work in the old (2.2) version?

[2016-07-18 11:45] madc commented on #36
Ha, yeah, I'm also always the guy on the Bolt repo who finds the subfolder issues..
I really can't remember, if that ever worked, but it should be an easy fix, I'll have a look the couple of days.

[2016-07-18 12:25] madc commented on #36
I noticed, that in [_localeswitcher.twig, L12](https://github.com/AnimalDesign/bolt-translate/blob/master/templates/frontend/_localeswitcher.twig#L12) the path is prepend with a `'/'`. removing it solves the issue for, but it might create new ones, I'm not aware of? Also I don't know, what `newslug` does.

[2016-07-18 13:04] SahAssar commented on #36
Well, that newslug is the slug in a different locale, or if there isn't one the slug in the current locale. That part you linked to basically checks if there is a slug in the current locale and if there is outputs a link with the current route and route params (but with the new slug), and if there isn't a slug it links to the homepage (or in your case the wrong folder :D )...

Could you try this a

[2016-07-18 14:03] madc commented on #36
Yes, is does the job! Good find!

[2016-07-18 14:43] #36 closed

[2016-07-18 14:47] SahAssar commented on #25
Fixed in #26 which will soon be released for 3.0, so I'm closing... Please reopen if there is demand for this in 2.2.

[2016-07-18 14:47] #25 closed

[2016-07-18 14:50] SahAssar commented on #24
Closing as this is merged in... Will tag a release as soon as the next minor of bolt is tagged as that is required to make the repeaters work.

[2016-07-18 14:50] #24 closed

[2016-07-18 14:53] SahAssar commented on #20
Fixed in the 3.0 version that will be tagged soon.

[2016-07-18 14:53] #20 closed

[2016-07-18 16:05] madc commented on #30
One thing, that didn't leave my head since we talked about this other issue:

It would make the localeswitcher way simpler, if we would move all this url business into the php code of the twig function and just inject a clean array of objects into the template.

So from the current template we should be able to have something like:

[code]

The object could look something like this:

[code]

[2016-07-18 16:33] SahAssar commented on #30
@madc Yep, that's the plan... That part of the code is basically copy-pasted verbatim from the 2.2 version, so it hasn't gotten as much love as the rest. I also planned to make it available as a global in twig so that one could just loop and output it wherever without having to make a specific template for that part...

[2016-07-18 16:45] madc commented on #30
That a good idea. I'd have a look at it, if you don't mid..

[2016-07-18 16:59] SahAssar commented on #30
Sounds great! Then we could get rid of the ugly getSlugFromLocale function too, which hasn't seen any work for a while either.

[2016-07-18 17:03] zomars commented on #31
Backend is working fine, but somehow translated repeaters are not rendering at all in the front, only the default locale.

[2016-07-18 17:08] zomars commented on #31
Some additional info:
[code]
Also my current theme is css only modified version of the current `base-2016` theme

[2016-07-18 18:40] SahAssar commented on #31
@zomars Just to make debugging easier/more precise could I get your bolt version (and latest commit if using dev-master or release/3.0), database type and php version? Also, does other content in that contenttype (non-repeaters) translate correctly?

Also it seems like 5542 has not been "up-merged" into master (as of the time of writing) so if you are using bolt/master could you check if switching

[2016-07-18 18:48] zomars commented on #31
Sure! I'm using Bolt (dev-release/3.0 2193fa7), MySQL and PHP 5.5.34. The other content is translating just fine, no problems with routing, labels and forms.

[2016-07-18 18:53] SahAssar commented on #31
Hmm, before I setup a php 5.5 and MySQL server, could you try to turn on/show all php errors/warnings (if not on already) and see if it gives you anything and also check in the DB if the "$locale_data" column shows the repeaters in the json data for that locale?

Thank you so much for your bughunting :)

[2016-07-18 19:05] SahAssar commented on #31
Also, (forgot about this) if possible please post which commit of translate you are on!

[2016-07-18 19:08] zomars commented on #31
Yes, the json data is appearing in the en_locale column (in this case), and php is not showing any errors.
![captura de pantalla 2016-07-18 a las 1 04 46 p m](https://cloud.githubusercontent.com/assets/3504472/16926961/6084033c-4ce8-11e6-8804-4b5f8d28dc9c.png)
![captura de pantalla 2016-07-18 a las 1 04 59 p m](https://cloud.githubusercontent.com/assets/3504472/16926963/64afbfd2-4ce8-11e6-9a47-3aa

[2016-07-18 19:15] SahAssar commented on #31
zomars: Just to be sure about one detail... You are getting untranslated/original repeaters, not empty ones when going to non-default locales, right?

[2016-07-18 19:17] zomars commented on #31
I'm getting nothing at all on non-default locale repeaters.

[2016-07-18 19:17] zomars commented on #31
Back-end is fine tho.

[2016-07-18 20:39] SahAssar commented on #31
Turned out to be an outdated file, so resolved via slack :) please let me know if you have any other issues with the extension @zomars!

[2016-07-18 20:39] #31 closed

[2016-07-18 20:42] zomars commented on #31
Will do! Thanks for your help!

[2016-07-18 20:51] SahAssar commented on #14
This will probably be a part of #30 in some way, so leaving this here...

[2016-07-18 20:52] SahAssar commented on #5
This will probably be a part of #30 in some way (as in a more configurable localeswitcher), so leaving this here...

[2016-07-19 07:33] SahAssar commented on #5
Closing as this is the same as #14, but that one has all the meaty stuff about ARIA roles and so on.

[2016-07-19 07:33] #5 closed

[2016-07-19 17:02] #30 closed

[2016-07-19 17:24] madc commented on #16
I think, we should add `automatic unit tests` to the list. Heard, it looks good to have them.. :D

[2016-07-19 18:06] SahAssar commented on #16
@madc Yep, definitely... I'll be look at boltforms to see how we can make that happen, since it will require hooks into bolt.

[2016-07-21 16:23] madc opened #40 "[RFC] Hide slug for default locale (in routes/links)"
Personally, I'm a huge fan of simple URLs. Thats why i propose, that we introduce an option to hide the slug of the default locale. That means, that instead of `mysite.com/de` and `mysite.com/en`, we would have `mysite.com`and `mysite.com/en`, if german is the default language.

After giving this just a quick thought, I can come up with two ways to solve this (from user perspective):
- Add an opti

[2016-07-21 16:29] madc commented on #16
This is a **big** maybe, but I have a feeling, it will come up in the future anyway:
For now, we use a locale slug to determine the current language. But there are at least two other ways of doing it:

- Via domain (mysite.at -> German, mysite.com -> English or at.mysite.com -> german,...)
- Localized contenttype slugs only (mysite.com/about-us, mysite.com/ueber-uns)

[2016-07-21 16:31] madc commented on #40
If we [think about implementing more URL styles](https://github.com/AnimalDesign/bolt-translate/issues/16#issuecomment-234308635) in the future, we could also use one setting to define the URL type, like `routing_style`: [default/hide_default/domain/...]

[2016-07-21 16:54] SahAssar commented on #40
@madc: My original idea was that the default "automatic" routing would be for users who just wanted to get started without all the configuring, so I made it disableable so that one could att hostname based or other types of routing in the routing.yml file, but if we can implement a `routing_style` option work well that'd be great!

The `hide_default_slug style` is easy to automatically make the ac

[2016-07-21 17:00] SahAssar commented on #16
The domain style is very possible today from just the routing.yml file, since one can set defaults based on hostname requirements (it just requires more copypasting :D ), the localized contenttype slugs only style is harder and will require some more modifications to the storage overrides, but not impossible. So definitely something for us to look into!

[2016-07-21 17:25] madc commented on #16
This things have no real priority for me, and you're right, domain based routing is possible by configuration. Maybe we split the todo list into "Near future" and "Distant future" and put it on the second one.

Personally I'd avoid contenttype slug-style in projects as good as I can, so I'm fine if we decide, we don't want to implement it at all.

[2016-07-21 17:29] SahAssar commented on #16
Yeah, for me "Check that we can support all extensions that add fields" and "Better and more thorough documentation" are the most important, after that "Automatic unit tests"... Do you agree?

[2016-07-21 17:36] madc commented on #40
I'm totally with you on that. The default configuration should reflect the usual use case and work right out of the box. Thing is, I'll have to take some time soon to implement this and I'm sure, its interesting for other users too.

I'd suggest to implement the `routing_style` option, even if it just toggles the default language slug for now. Do you agree?

[2016-07-21 17:39] SahAssar commented on #40
Yeah, `routing_style` gives us the freedom to add different styles in the future, so that sounds good!

If you have any questions or notes about my code please just throw them out there and I'll answer ASAP :)

[2016-07-21 18:05] madc commented on #40
Believe me, I'm not the guy holding back on criticism.. .. as for questions, they will come for sure.
I'll touch this thing the week after next one. Meanwhile, if you have any thought on the topic, just throw them in here..

[2016-07-21 18:09] madc opened #41 "[BUG] Repeater fielddtype is missing the translateable icon"
![screenshot from 2016-07-21 20-09-57](https://cloud.githubusercontent.com/assets/343392/17033559/05220ee6-4f7f-11e6-9ae8-34be9b738e19.png)

[2016-07-21 18:23] SahAssar commented on #41
We probably want the icon only to show up on the title for the whole repeater, not each field in each repeated element, right? Cause my first thought was to add it to every translatable field in there :D (which would be all of them).

[2016-07-21 18:34] madc commented on #41
It would definitely be redundant on every field of the repeater. Putting it in front of "Content", if we take my example should be enough. Also it should be quickly fix by altering the JS a bit..

[2016-07-21 18:45] SahAssar commented on #41
yep, should be easy that way... I immediately started thinking if bolt had js events for when it adds repeaters and so on, which, you are right, would be redundant :)

[2016-07-23 12:46] peterverraedt opened #42 "[BUG] LocalizedMenuBuilder references to missing Lib::path"
LocalizedMenuBuilder references to missing function Lib::path, when using menu items with `route: ` instead of `path: `.

Details
-------

 - Translate Version: master
 - Install type: Extension Repository
 - Bolt Version: 3.0.11
 - PHP version: 5.5
 - Used webserver: Nginx version 1.4.6

Reproduction
------------

1. Use menu link with `route: `, e.g.

        - label: Pages
          route: cont

[2016-07-25 12:39] #42 closed

[2016-07-26 08:46] SahAssar opened #46 "Preview is broken due to _route_params?"
For the preview route we use a query string to set the locale, so `_route_params` won't work there IIRC.

Introduced in #38, Self-assigning :)

Details
-------

 - Translate Version: master
 - Install type: Extension Repository
 - Bolt Version: master

[2016-07-26 09:17] SahAssar opened #47 "Homepage redirect no longer working"
Homepage redirect no longer working since the homepage gets a default _locale since #43.

Possible duplicate content issue since the same page will happily display on both `/` and `/{default_locale_here}` (with different canonicals).

Details
-------

 - Translate Version: master
 - Install type: Extension Repository
 - Bolt Version: master

[2016-07-26 10:08] peterverraedt commented on #47
I should have known this, I encountered the same bug before in my early attempt to port the extension to bolt 3.0. The best solution is to remove the default _locale, and to make sure that the `_locale` parameter is always set in the url_generator's context, since that was the main reason to put a default value. I'll post a pull request in a minute.

[2016-07-27 17:13] #47 closed

[2016-07-27 18:07] #41 closed

[2016-07-27 18:07] #46 closed

[2016-07-27 18:15] SahAssar commented on #14
Since the localeswitcher template is so simplified now (and the locales array is available as twig global) this should be so easy to do oneself that I think having it as a option is probably superfluous. Closing, please reopen if I'm wrong!

[2016-07-27 18:15] #14 closed

[2016-07-28 15:14] Puddingboy opened #50 "feedback messages not being translated"
boltforms does currently have no means to return translated errors

[code]

I was wondering if there may be some sort of workaround
 ```{% if form.vars.errors|length %}{% endif %}```
something like that.

or in the future you may wanna go for a locale_succes/locale_error

[2016-08-01 08:06] madc commented on #50
This should be doable using [bolt-labels](https://github.com/bolt/labels). Have you tried that?

[2016-08-01 10:48] Puddingboy commented on #50
bolt-labels is not really suitable for full sentences. I have my own snippet contenttype I use. Rather I wish errors had an error code so that I could fetch the proper translation to these messages based upon the errorcode.

[2016-08-01 10:57] SahAssar commented on #50
I think that labels is what you need to use for this. Translate will only handle content, not static text in configs/templates, that is what we use labels for.

Try changing https://github.com/bolt/boltforms/blob/d868af7f6286938f9554259045fa9e61cb351db1/templates/form/_form_theme.twig#L7 to `{{ l(error.message) }}` and then translating in labels.

[2016-08-01 11:23] Puddingboy commented on #50
This sure helps. Do you know if there is some kind of overview going about with a list of possible error messages for form and fields?

[2016-08-01 11:27] SahAssar commented on #50
Sorry, no idea... I think you can set what errors to show in boltforms though, using the `message` key on each of the fields, and besides those it should just be the ones that you can set in the boltforms config.

[2016-08-01 11:35] Puddingboy commented on #50
Thx anyways, I will root around some more

[2016-08-01 18:16] madc commented on #50
Closing this, as it is solved and not directly related with bolt-translate.

[2016-08-01 18:16] #50 closed

[2016-08-02 09:45] sbonardt opened #55 "It seems a translatable 'textarea' field does not get the "is translatable" icon in the backend"
Looks like all fields that can be translated with this module get an icon in fornt of the label right?
I see that a textarea field, which is in fact translatable through this module, doesn't get the icon...
![screen shot 2016-08-02 at 11 44 11](https://cloud.githubusercontent.com/assets/5597447/17324391/a2b364cc-58a6-11e6-9ab3-ae114b0199b3.png)

Details
-------

 - Translate Version: [ 3.0.11 | ma

[2016-08-02 10:27] #55 closed

[2016-08-02 21:30] EzeRangel opened #56 "[BUG] MySQL Exception: Specified key was too long"
Details
-------

 - Translate Version: [ 3.1.0 ]
 - Install type: [ Extension Repository ]
 - Bolt Version: [ 3.0.11 ]
 - PHP version: [ 5.5.38 ]
- MySQL version: [ 5.6.20 MySQL Community Server (GPL) ]
 - Used webserver: [ Apache ]

Reproduction
------------

It seems that when I try to update my DB after the extension installation, MySQL throws and exception related to the INDEX CREATION.

This

[2016-08-02 21:53] SahAssar commented on #56
@EzeRangel Could you try changing this: https://github.com/AnimalDesign/bolt-translate/blob/master/src/Storage/ContentTypeTable.php#L35 to 255 and see if that helps?

Seems like the MySQL length for a utf8 char is 3 bytes, so 767 / 3 = 255.666666667, so 255 should be okay, and then if it works I can patch that into the next release :)

[2016-08-03 17:01] EzeRangel commented on #56
That's it

Everything is right :)

[2016-08-03 17:42] #56 closed

[2016-08-06 21:20] danielschleindlsperger opened #57 "[BUG]? Can't get repeater translation inside templatefields working"
First of all thank you so much for your great work on bolt and also for the great support in the slack channel!

Now to my problem:
I have a section content type which only has a templateselect. For my different types of sections I have different template and templatefields. Some of them contain repeaters, which I can't get to work with the translate plugin.

 - Translate Version: 3.1.1
 - Install

[2016-08-07 07:34] SahAssar commented on #57
Hey, I almost got this working, but you should know that there seems to be another bug that you run into with that repeater, see bolt/bolt#5652

I'll post an update here when I got it fixed :)

[2016-08-09 09:08] cigear commented on #57
There is problem as below.
private function registerOverrides(Application $app) in  TranslateExtension.php
-----------------------------------------------------------
  $app['schema.content_tables'] = $app->extend(
            'schema.content_tables',
            function ($contentTables) use ($app) {
                $config = $app['translate.config'];
                $platform = $app['db']->getDa

[2016-08-09 09:12] cigear commented on #57
add more comment. If you define some content types as en-pages or en_pages including _ , - , two tables
as en-pages, en_pages will be created and an error will occur.

[2016-08-09 09:49] SahAssar commented on #57
@cigear These issues do not seem related to the actual issue this thread is about, could you post them in a separate issue?

[2016-08-09 10:05] cigear opened #58 "issue of $contentTables[$contentType] = $app->share() in TranslateExtension.php"
There is one issue  as below.
 If you define some content types as en-pages or en_pages including character of  _ , - ,
two tables as en-pages and  en_pages will be required  to create and some errors
will occur.

-------------------------------------------------------------------
private function registerOverrides(Application $app) in TranslateExtension.php

$app['schema.content_tables'] = $app->

[2016-08-10 07:28] #58 closed

[2016-08-10 07:29] SahAssar commented on #58
Fixed in f73153d, thanks!

[2016-08-11 22:39] SahAssar commented on #57
Btw, I have a fix for this incoming, I was waiting for bolt/bolt#5670 to get ready so we knew how repeaters in templatefields would behave on the frontend before committing.

The fix should land tomorrow, or this weekend at the latest.

[2016-08-11 23:31] zomars opened #59 "[BUG] Template "twig/boltforms_theme_translated.twig" is not defined"
Details
-------

 - Translate Version: [ 2.0 ]
 - Install type: [ Extension Repository ]
 - Bolt Version: [ 3.0.12 ]
 - PHP version: [ 5.6 ]
 - Used webserver: [ Apache ] version [ version ]

Reproduction
------------

When trying to render the translated forms I get this error:

[code]

[2016-08-12 07:58] madc commented on #59
This seems to be outdated information in the Readme. Could you try `{% form_theme form '@bolt/frontend/boltforms_theme_translated.twig' %}` and report back?

[2016-08-12 22:05] zomars commented on #59
I did as you said and the forms are rendering correctly now. But.. The labels are not appearing in the backend to translate.

[2016-08-12 22:11] zomars commented on #59
Nevermind, it's working now!

[2016-08-13 07:52] madc commented on #59
That's great! Did you have to do anything else? I'm gonna update the Readme, and it would ge good to know, if I should anything additional.

[2016-08-14 16:25] danielschleindlsperger opened #61 "[BUG] Localeswitcher not correctly linking to translated slug"
Hey,

when I use the localeswitcher with translated slugs, it just changes the locale slug in the url, but not the slug of the page.

e.g. when i have a page http://example.com/en/about-us it links to http://example.com/de/about-us even though the translated german slug is "ueber-uns".

### menu.yml
[code]

### contenttypes.yml excerp
[code]

### routing overwrite (problem exists without it aswell

[2016-08-14 19:56] madc commented on #61
You're right, thanks for reporting. I'll have a closer look.

[2016-08-14 20:19] #59 closed

[2016-08-15 08:18] #61 closed

[2016-08-15 08:31] SahAssar commented on #61
By the way, the "how do i get the active locale first without looping twice?" question will be solved by #63

[2016-08-15 13:47] evertalbers commented on #16
I haven't installed Bolt-Translate yet, but I'm about to test it the coming days.

After figuring out what you mean  with "the localeswitcher Twig function" I was wondering whether _my_localeswitcher_template.twig is going into the theme directory or into a separate location in the extension directory somewhere.

What I have done so far with multilanguage sites where e.g. a certain Dutch record ha

[2016-08-15 21:57] SahAssar commented on #16
@evertalbers the "_my_localeswitcher_template.twig" template usually goes in your theme folder, but you can call it anything and put it anywhere that is a loaded twig path.

Currently bolt-translate can handle single-locale records, but it still needs a lot of polish. For example menuitems aren't checked if they exist in the current locale IIRC. If you find any issues regarding this or anything el

[2016-08-16 08:30] madc commented on #16
@evertalbers Thanks for taking the time and for providing some feedback!
@SahAssar Wouldn't it be enough, to put a how-to about the `rel="alternate"` link tags in the documentation. Its quite easy to archive, isn't it?

As for the twig function, I'm again thinking about getting rid of it. Now with the global variable, a handful of well documented code snippets should do the job.. but I'm flip-flop

[2016-08-16 09:03] Puddingboy commented on #16
function suggestion: A way to unroute translations if empty so that translations can be added later if needed. It would also make sense to have a config option to set behavior as default and overlap this with the same functionality on individual records so that I can hide a yet to be translated record if needed.

As for now I have little clue how this would be best implemented. a checkbox per loca

[2016-08-16 09:10] SahAssar commented on #16
@madc Yeah, the rel tags would be quite easy to add to the docs, but I think the default should be that they are added automatically. I'd like to keep the setup to a minimum... I'd be totally okay with removing the function though, since one has to edit the template for that anyway and we can't predict where someone wants to put it.

@Puddingboy The idea is to make it so that records that haven't

[2016-08-16 09:25] Puddingboy commented on #16
To clarify: some people would want all their translations shown by default and others prefer to have them hidden by default. If you overlap this with ui element to toggle them on each record you'll be golden.

That way you get to fill the void of "there are always exceptions".

now something else: add locale tabs on ct summary pages too so that you can sort on each language? possible or perhaps to

[2016-08-17 08:53] madc opened #65 "[RFC] Fallback on missing content"
There have been suggestions regarding this by @Puddingboy and @evertalbers in #16. I have the feeling, that this is a longer topic, so I'm moving it here.

Currently, when creating a new record for a translatable contenttype, fields can only be populated for the default locale. Other locales are populated empty. (Am I right in assuming this, @SahAssar?)
At this point, if the website is opened in f

[2016-08-17 08:54] madc commented on #16
I'd like to move the discussion about fallback content to #65.

[2016-08-17 09:26] evertalbers opened #66 "[BUG?] Unwanted German locale instead of Dutch"
Details
-------

 - Translate Version: [ 3.1.1 ]
 - Install type: [ Local install ]
 - Bolt Version: [ 3.0.12 ]
 - PHP version: [ ~~7.0~~ 5.6 just had to switch back to 5.6 for reasons not related to this site ]
 - Used webserver: [ Apache ] version [ ? ]
 - For UX/UI issues: [ Chrome ]

Reproduction
------------
I have installed the Translate and Labels Extension and have set the first field in t

[2016-08-17 09:49] evertalbers opened #67 "[RFC] problem with url/routing"
In the same install as in issue #66 I seem to have a problem with the routing.

It could be related with the contenttypes where I have (inside a repeated YAML node BTW)
[code]

I saved the record after installing the extension, with slightly different text for both languages.
The url for that record used to be
/project/scira-sheringham-shoal-gb-317-mw
I would now expect it to be
/en/project/scira-

[2016-08-17 12:16] SahAssar commented on #66
Wait, in config.yml or in translate.animal.yml? The locales go in the extension config, not in the config.yml.

[2016-08-17 12:18] SahAssar commented on #67
Do you still have a contenttype called pages (not that it's required, just to help find the issue)? Cause the issue seems to be that it tries to find a repository called pages but can't find one...

[2016-08-17 12:26] SahAssar commented on #65
Well, not really. It currently does not fill the other locales, and does not fill the other locales slugs, so if `translate_slugs` is on it should 404 in other locales if the record has not been saved in that locale.

To allow for records in only non-default locales all we need to do is to remove this line: https://github.com/AnimalDesign/bolt-translate/blob/master/templates/fields/_locale.twig#L2

[2016-08-17 12:39] evertalbers commented on #66
That explains a lot. Solved. Thanks!
(I could have known this from my Boltforms experience.)

And so here we have another suggestion to add to the docs. Which files are being installed, what they do etc.

And I presume that the .animal. in the filename has something to do with Github and/or versionmanagement, but it may look a bit confusing to some (with all respect to Animal of course)

![muppets

[2016-08-17 12:56] SahAssar commented on #66
Yeah, clarifying that in the docs sounds good. Basically all extension configs for bolt get their own file called extensionName.authorNamespace.yml, this project has the namespace animal since it was started by AnimalDesign. #54 by @sbonardt still needs a bit of editing (it mentions the need to manually copy the file, which one does not), but will hopefully take care of this :+1:

[2016-08-17 13:20] evertalbers commented on #67
No, I don't have a 'pages' contenttype in my contenttypes.yml

I have had "pages" just after the install before importing my own contenttypes.yml, and there was still an empty 'pages' table in the MySQL table somewhere, I renamed it to see if that made any difference, but that did not help I think.

But there's probably still "page/pages" references in other locations that I'm not aware of. The er

[2016-08-17 13:32] SahAssar commented on #67
Seems like the error came to in #38 which introduced a hardcoded reference to the pages contenttype.
This line: https://github.com/AnimalDesign/bolt-translate/blob/master/src/TranslateExtension.php#L246 needs to be changed to something like `$repo = $app['storage']->getRepository($content->contenttype['slug']);`

[2016-08-17 13:51] evertalbers commented on #67
Copy-pasted your code, still an error but a different one:
**Bolt \ Exception \ InvalidRepositoryException
Attempted to load repository for invalid class or alias: . Check that the class, alias or contenttype definition is correct.**

You said _"to be changed to something like..."_ but I'm afraid that I don't have the php skills to come up with other options for that line :-(

[2016-08-17 13:56] SahAssar commented on #67
Right, we need to actual content record first to do that... I'm not really at a computer where I can test/fix it right now, but you want to try `$repo = $app['storage']->getRepository($request->get('contenttypeslug'));` that might work. Otherwise I'll take a look at it in the coming days.

[2016-08-17 14:09] evertalbers commented on #67
Brilliant, that last one worked. Looks like I can go ahead now, until I meet the next hurdle.

Thanks so far!
I assume the above change will be in the next Bolt-Translate update?

[2016-08-17 14:22] SahAssar commented on #67
@evertalbers Yep, this will get fixed in the next update... I'll just have to test that fix a bit to make sure it doesn't break taxonomy routes.

[2016-08-19 08:56] madc commented on #67
I think, this solution will fail on single pages, because then `$request->get('contenttypeslug')` in your example would hold `Pagina`.

[2016-08-19 09:01] madc commented on #65
I see. I've been thinking more about this and I agree. You make a valid point. It is agreed then, no fallback.

But, as you mentioned, we need to hide untranslated records from menus/listings. Do you think, this is much work?

[2016-08-19 09:54] SahAssar commented on #65
Some, yes... We will need to modify the storage queries so that they check for a slug/status in the locale, but the structure in the database is already prepared for it (the locale slug field is broken out from the rest of the data) so it should be possible to do in a patch release.

[2016-08-19 09:56] SahAssar commented on #67
@madc I think bolt aliases the slug and the singular_slug to point to the same repository, but I'll have to test before I can say for sure.

[2016-08-19 10:16] Puddingboy commented on #65
I will kinda stick to what I said before, I think it would be a good idea to be able to edit the default treatment of empty values from a yml config file. To top it off, you could implement a way on the backend as a UI element to overturn it if needed for specific records.

I think a good placement for such a UI element would be on a page(below the TL tabs) or in the meta. Could be something like

[2016-08-19 11:01] madc commented on #67
I did a quick test on the 3.0.12 release with +`pages`/`page` and it gave me some error indicating that `page` is no valid contenttype..

[2016-08-19 14:18] evertalbers commented on #67
I'm not sure if it's the answer to your slug question above, but in my "project" contenttype, multilinguality seems to work fine so far: slug, {{ project.link }}, routing all work well.

[2016-08-19 15:53] evertalbers opened #69 "Routing question"
When in a single-language site I would have e.g.
[code]
for my "pagina" contenttype to be rendered as
`/pagina-slug`

what should I do to get
`/en/pagina-slug` and `/nl/pagina-slug` etc
in a site with Bolt translate?

And should it be done in the same location in routing.yml?

[2016-08-20 12:28] frozenshadow commented on #67
Same problem here. Did multiple clean installs (Bolt 3.0.12), all single page views got 404 errors after installing translate. Also upgraded one install from 2.2.23 to 3.0.12 and got an fatal error (because there wasn't a 404 page in the theme):
[code]

Let me know if you need more info.

[2016-08-21 09:39] #67 closed

[2016-08-21 09:40] SahAssar commented on #69
@evertalbers If you have the automatic routing activated it should be fixed automatically... Does it not for you?

[2016-08-21 10:07] #66 closed

[2016-08-21 10:07] SahAssar commented on #57
Fixed in #64 which will be useable in the next stable bolt release.

[2016-08-21 10:07] #57 closed

[2016-08-22 19:08] evertalbers commented on #69
The contenttype is
[code]
the urls that **do** work are e.g.
`/nl/paginas/projecten` and
`/en/paginas/projects`

but these do **not** work:
`/nl/projecten` and
`/en/projects`

[2016-08-22 19:12] SahAssar commented on #69
@evertalbers Could you post you full routing.yml so I can try it out?

[2016-08-22 19:17] evertalbers commented on #69
My, you're quick. I'll post the routing in a minute.

BTW, and possibly related, I see that I can translate the slug in the backend, and that the urls are working correctly in the browser, but that the `{{ localeswitcher() }}` renders the urls as
`/en/paginas/**projects**` and `/nl/paginas/**projects**` on the English page and as
`/en/paginas/**projecten**` and `/en/paginas/**projecten**`on the Du

[2016-08-22 19:18] evertalbers commented on #69
Here we are, routing.yml:

[code]

[2016-08-22 19:43] SahAssar commented on #69
Is the error you are getting this: `Parameter "slug" for route "paginabinding" must match "[^/]++" ("" given) to generate a corresponding URL.` ?

[2016-08-23 05:55] evertalbers commented on #69
This is the error on a 'pagina' where I left out the 'pagina/' in the url, still with the routing above:
![bolt_-_fatal_error _-_2016-08-23_07 52 23 png](https://cloud.githubusercontent.com/assets/3974120/17881578/e2766efe-6906-11e6-8a2c-d3f185c62969.jpg)

[2016-08-23 06:02] evertalbers commented on #69
Error gone, see above :-)

[2016-08-23 09:07] madc commented on #69
Good to hear, I'll close the issue than. :)

[2016-08-23 09:07] #69 closed

[2016-08-23 12:34] frozenshadow opened #70 "[BUG] Page page/ not found"
I posted this issue earlier right before the 3.1.2 release, and hoped it was fixed in that release. But the problem remains.

I have done multiple clean installs (Bolt 3.0.12 & 3.1.0 beta 2), and all single page views got 404 errors after installing translate. Also upgraded one install from 2.2.23 to 3.0.12 and got an fatal error (because there wasn't a 404 page in the theme):

[code]

Details
---

[2016-08-26 08:10] madc commented on #70
Could you also post your setup from `translate.animal.yml` and the `pages` contenttype?

[2016-08-26 11:07] frozenshadow commented on #70
Sure, here you go.

Contenttype:
[code]

translate.animal.yml:
[code]

[2016-08-26 19:21] SahAssar commented on #69
@evertalbers I'm guessing the issue you mentioned today is if the contenttype slug is translateable? As in  `paginas` in your example?

[2016-08-27 07:05] evertalbers opened #71 "[RFC] Show language slug in the backend"
The slug (translated as "Permalink" in Dutch example below) field in the backend now combines  contenttype/slug, conveniently showing under which url the record can be found.

![edit_pagina_ _projects_ _profin_cms_-_2016-08-27_08 52 22](https://cloud.githubusercontent.com/assets/3974120/18025771/31985878-6c34-11e6-8f76-838ef230d61f.png)

Is it a good idea to add the language slug in this field?

A

[2016-08-27 07:40] SahAssar commented on #71
This is one of those things that I want to do, but is sorta dependent on core bolt work, specifically bolt/bolt/issues/4767. Once that gets fixed this should either work automatically or be an easy fix, but lets leave this open so I remember to test it once that lands :)

[2016-08-27 10:49] evertalbers commented on #69
Yes it was, and that's solved. Only now I see this post so I've been cross-posting/cross-slacking a bit here.

[2016-08-30 20:51] danielschleindlsperger opened #72 "[BUG] exension doesn't save secondary locale"
Hello,

when I try to save a contenttype with a repeater it only saves for the primary locale, not the secondary. The secondary locale is always the same as the primary.

#### translate config:
[code]

#### contenttype:
[code]

Also I get the following js error in the browser console:
[code]

 - Translate Version: 3.1.2
 - Install type: Extension Repository
 - Bolt Version: 3.1
 - PHP version: 7.0

[2016-08-31 19:52] frozenshadow commented on #70
Mmmmm, if you request the page by it's id like `bolt.prod/nl/page/5` instead of `bolt.prod/nl/page/over-ons` it does work... strange :confused:

[2016-09-01 21:50] SahAssar commented on #70
@frozenshadow Sorry, I've been full up with other work (and vacation :) ) the last few weeks, but I'm guessing this is the `translate_slugs` option misbehaving... I'll have a look tomorrow and let's take it from there :)

[2016-09-01 22:25] frozenshadow commented on #70
@SahAssar No problemo! Even the best devs need a vacation once in a while. But I'm happy to hear from you again ;)

[2016-09-04 17:39] danielschleindlsperger commented on #72
I just downgraded bolt to 3.0.12 and even though I get the same js error when switching locales it appears to be saving both locales correctly.

[2016-09-07 07:14] Puddingboy opened #73 "Latest version doesn't translate after following docs"
I have a bolt 3.x setup with boltforms and bolt translate. Both up to date.

[code]

That's my change on the translate yml config (644)

After prompted and confirmed on db update. The tabs do not seem to work.

Even after adding isTranslatable: true to the ct.yml fields content is still not translated.

*edit: Oops, seems isTranslatable changed to is_translateable I should not have lived under a r

[2016-09-07 07:20] #73 closed

[2016-09-07 07:45] Puddingboy opened #74 "currently no fields are being translated"
bolt 3.1.0 and boltforms+translate fresh install(latest)

During my setup I first added
[code]

Only after updating the db I changed my default locale to `nl_NL`

currently no field is being translated and no db update is being offered. looking for suggestions to fix this.

`is_translateable: true` does not fix it. Can only reinstalling the plugin fix this?

Changes on translation tabs are not bei

[2016-09-08 09:14] lswest commented on #74
Same issue here.  On some pages, I even get the error "could not save changes".  On others, it saves without complaint (but on a refresh loses all changes).  2 things I've noticed though:

1.  When I open a contenttype entry to edit it, it appears with "English" in the dropdown menu first (instead of the default language)
2. I uninstalled the extension, cleaned up the database, and then re-install

[2016-09-08 09:46] lswest commented on #70
Any updates on this issue?  I'm currently experiencing the same problem.  For the time being, I'm trying to manually localize the menus, but having it done automatically would make life easier.

[2016-09-08 09:48] Puddingboy commented on #74
lswest removing the plugin won't remove the db entries. the db entries need to be removed manually.
I just checked my db and this is my current table structure and fill: http://puu.sh/r3XLz/095266166d.png
It seems that the tables are being created but not filled.

[2016-09-08 10:02] lswest commented on #74
@Puddingboy Removing the plugin didn't, but the interim database check did seem to remove some columns at least.

I've also just run through an update, but no errors appear in my MySQL log or PHP.  I enabled the bolt-own system debugger, and (after removing the authentication events), posted the contents [here](https://gist.github.com/lswest/69627301e98ccf85d3756b8194caef6f)

From what I can gathe

[2016-09-08 11:19] calvinchoy commented on #74
I am having the same problem. Running Bolt 3.0.12 and latest version of this extension. It seems like the translation(s) are being overwritten when switching from default locale.

I first started with the default en_gb locale, and added the nl_nl locale as secondary. Everything seems to work fine. However, when I updated the configuration files and make the nl_NL locale default, all the translatio

[2016-09-08 11:35] calvinchoy commented on #72
@danielschleindlsperger is it still working correctly? I am using bolt 3.0.12 and translate 3.1.2 but having the same problem. There is another issue opened for this: #74

[2016-09-08 20:27] danielschleindlsperger commented on #72
@calvinchoy yes it's working fine for me right now with the downgrade :)

[2016-09-12 07:51] lswest commented on #74
Just a quick update - I've downgraded Bolt to 3.0.12 (as suggested in issue #72).  This seems to have fixed the issue.  So it seems some sort of incompatibility or error was introduced in Bolt 3.1.  Does the extension rely on the Bolt backend to write to/from the database?  Therefore a change there might be causing this.  Perhaps a question for @bobdenotter.

[2016-09-12 07:55] calvinchoy commented on #74
Well, I've been using Bolt 3.0.12 from the start together with this plugin. I got the same problem after I switched the default locale. Now I can't seem to undo the problem by switching the default locale back. The second locale will always receive a "cannot save item" error. Only the primary locale can be saved, but then the second will be overwritten with the same content. If you look at the dat

[2016-09-12 18:22] SahAssar commented on #74
@lswest @calvinchoy @Puddingboy Sorry for being late on this. I'm looking through it now.

I'll hopefully have a release later tonight to fix this, otherwise I'll comment here.

@lswest The question mark in SQL queries represents a variable in a prepared statement, so it's replaced with a value when run. Also the extension stores all data in one column per locale, and the slug in one column per lo

[2016-09-12 19:57] SahAssar commented on #74
Okay, this isn't exactly a quick fix... I talked with ross on slack and the way that 3.1+ works (which seems like the correct way to me although it makes my life harder currently) makes this a bit harder than I though.

@madc I think we should tag a release that is capped at 3.0.X (and therefore removing the 3.X.X releases) and then work on getting a fix for 3.1, but that will almost certainly req

[2016-09-12 20:07] SahAssar commented on #74
Oh, and for future reference I'm leaving this here: https://github.com/bolt/bolt/pull/5684/commits/231cd0fc3225c994079a5e914aeb9923699f1fdd which was the commit that corrected the "hack" that I was using.

[2016-09-12 20:38] lswest commented on #74
@SahAssar Thanks for explaining the question mark!

I'll see if working with 3.0.12 will let me finish the site I'm working on - though the slug translations don't seem to be working properly (like in issue #70).  In any case, I appreciate the effort!

[2016-09-13 07:41] SahAssar commented on #72
Closing this as it's the same issue as  #72 but we have some more discussion in that one.

[2016-09-13 07:41] #72 closed

[2016-09-14 16:20] lswest opened #75 "[BUG] Two content types won't save after extension activated"
I've recently set up the translate extension on an upgraded site (from Bolt 2.2 to 3.0.12).  I can add and save translations on all content types except two.  The only difference between the content types that work, and those that don't, are hyphens.  The two content types that don't work are ueber-uns, and content-marketing (defined exactly like that in the `contenttypes.yml`).

I admittedly have

[2016-09-15 08:12] frozenshadow commented on #70
Hi @SahAssar any news on this? I would like to put a website in production, but this issue is keeping me from doing that.

Thanks :) !

[2016-09-15 10:37] evertalbers opened #76 "Another routing question"
I picked up work  on the site that I want to make multilingual again, made some steps on the homepage, but seem to get stuck somewhere in the routing/showing-records department:

I get a 404 on a link to a pagina contenttype record, /en/pagina/risicobeheer-in-duurzame-energie but where it says `Page pagina/ not found.` (where in the case of a 404) I would expect something like `No route found for

[2016-09-17 12:32] SahAssar commented on #76
Could you screenshot the routing tab of the profiler for me?

[2016-09-17 13:56] SahAssar commented on #74
Alright, so, what is now in dev-master should work, but it also requires you to manually add two hidden fields to each contenttype that you want to translate, see the readme. If someone could try it out for me and see if it works as expected for you guys that'd be great... I had to do it this way since adding the fields via `$app['config']->set()` did not seem to work...

[2016-09-17 14:08] SahAssar commented on #75
We have had a lot of issues with hyphens/underscores in bolt core lately, but this one is very odd since this query seems very wrong to me: `SELECT ueber-uns.* FROM bolt_ueber_uns ueber-uns WHERE ueber-uns.id = ? LIMIT 1`...

The general advice in all bolt projects currently is to not use underscores or hyphens in any keys or contenttype slugs until this issue is fully fixed though.

[2016-09-17 14:08] SahAssar commented on #75
I'll look into this more when I got my normal internet back though :)

[2016-09-17 14:27] lswest commented on #74
I was going to test out the dev-master version, but am receiving this error: `Could not find package animal/translate at any version for your minimum-stability (dev). Check the package spelling or your minimum-stability` - this is after setting stability to dev in config.yml.  Both Bolt 3.0.12 and 3.1.1.

[2016-09-17 14:34] SahAssar commented on #74
yeah, getting the same here... I have no idea why, but you can test it by just overwriting the old version with the new files or doing a git pull in that folder IIRC.

[2016-09-17 14:45] lswest commented on #74
`git pull` worked to update it, but after adding the hidden fields, I now see this error:

`Es gab einen Fehler beim Updaten von `bolt_ueber_uns`. Der Error lautet An exception occurred while executing 'CREATE INDEX IDX_A82C6B3ACAAC50AC ON bolt_ueber_uns (deslug)': SQLSTATE[42000]: Syntax error or access violation: 1170 BLOB/TEXT column 'deslug' used in key specification without a key length`

[2016-09-17 15:25] lswest commented on #75
Thanks for the feedback.  I've removed the hyphens, renamed the tables in MySQL, and then replaced the hyphens with underscores, and renamed the tables again (after each change, I also ran the database check, to update the structure).  Now I can successfully translate the content types that were causing issues, and I haven't lost any data.  I would prefer a hyphen in the URLs, but I can live with

[2016-09-17 16:06] evertalbers commented on #76
This is the one from the url **with** the `/en/` or `/nl/`
![symfony_profiler_-_2016-09-17_18 00 53](https://cloud.githubusercontent.com/assets/3974120/18609379/22b788be-7d01-11e6-8e29-dc5a72855a39.png)

I guess you want the first one, but just in case you need it  the one from the url **without** the `/en/` or `/nl/` in the url.
![symfony_profiler_-_2016-09-17_18 03 03](https://cloud.githubuserco

[2016-09-19 07:36] SahAssar commented on #75
@lswest Well, bolt generates the tablename from the slug unless you specify your own tablename with the `tablename` key. The contenttype key/name is actually just used to get the config, not for db stuff or slugs.

[2016-09-19 07:59] lswest commented on #75
@SahAssar Thanks, I figured that out later in the day after browsing through the bolt/bolt bugs.  I made my life easy, and simply cropped all contenttype names down to a single word.  In the end, I may see about using routing to strip the slug entirely from the URL.  I think you can mark this as closed, as it's not technically an issue with the extension (as far as I can tell).

Thanks for all the

[2016-09-19 09:56] SahAssar commented on #74
Ah, so mysql doesn't like that `index: true`... You can just remove that from the config then, it will be a bit slower, but I don't know of any way to tell bolt to create varchar columns instead of text ones...

[2016-09-19 10:32] lswest commented on #74
Removing index: true does remove the error messages.  After that, I can save any of the content types I want, and they appear under the correct URL.  I haven't tested it on many entries, but before it didn't work at all.  This was tested in Bolt 3.1.1

Should this fix impact the slug translations too?  If so, that doesn't seem to be working as of yet.

[2016-09-19 14:43] SahAssar commented on #76
Fixed by updating to dev-master. same issue as #74.

[2016-09-19 14:43] #76 closed

[2016-09-19 16:38] SahAssar commented on #74
I have tested it with slug translations too when I helped @evertalbers with the same issue in #76, so it should work... You probably need to resave the slugs for it to work though, and keep in mind that if require_slugs is on it needs saved translated slugs to work.

[2016-09-19 17:14] lswest commented on #74
I activated the translated_slugs option in the config, and no page besides the home page (`/en` or `/de`) will load, citing the following error: `Symfony \ Component \ HttpKernel \ Exception \ HttpException
Page pages/ not found.`  This is true for both pages without translated slugs, as well as pages I've translated the slugs for.  In both languages.  I also ran another `git pull` just to make su

[2016-09-19 17:18] SahAssar commented on #74
@lswest Are you on our slack or IRC? It might be easier to solve this in real time. Then I can incorporate that into the release I'm hoping to drop soon.

[2016-09-19 17:19] lswest commented on #74
@SahAssar I'm lswest on freenode IRC

[2016-09-19 18:10] SahAssar commented on #74
Posting the chatlog from IRC here, It seems the issue was still the move to dev-master, a git pull did not do the trick.

I'll work on releasing a translate 4.0 this week, the version jump is because it will not be compatible with our translate 3.X releases. **Just to be clear: this is a translate 4.0 release, not a bolt 4.0 release that I am talking about**. We happened to be tracking the bolt ve

[2016-09-19 18:34] SahAssar commented on #75
Closing this, as it seems to be mostly the bolt issue, and partially our own which will be resolved soon, see #74

[2016-09-19 18:34] #75 closed

[2016-09-19 18:47] SahAssar commented on #70
Hey @frozenshadow. Sorry about the delay... It seems you are having the same issue as #74, please let me know if that info does not solve it and I'll setup something where we can work through it. Basically, 3.1.X made our way of saving/loading translations obsolete, so we needed an alternate way.

As this is the same issue as above though, I am going to close it, but I'm very sorry for being so la

[2016-09-19 18:47] #70 closed

[2016-09-19 20:03] lswest opened #77 "Custom routing results in no auto-redirect to /de or /en"
I'm using custom routes in order to translate a variety of contenttypes, but would like my homepage to still redirect according to the language headers.  However, this doesn't seem to be possible once disabling the routing_overrides in the config file.

Details
-------

 - Translate Version: [ dev-master ]
 - Install type: [ Extension Repository ]
 - Bolt Version: [ 3.1.2 ]
 - PHP version: [ 7.0 ]

[2016-09-19 20:04] lswest commented on #77
@SahAssar It didn't work quite "out of the box", but I found a solution while actually writing this issue.  Therefore, I'm closing it straight off the bat, but for anyone who needs the information, it's there.

[2016-09-19 20:15] SahAssar commented on #77
@lswest This is one of those things where we need better (or any) docs... Glad you found a solution, but I'm going to reopen this and tag it to make sure that we get docs for it if you don't mind :)

[2016-09-19 20:19] frozenshadow commented on #70
@SahAssar No need to apologize, I was a bit too fast with my comment. I am monitoring the other issues, and I guess I just needed confirmation that it was the same problem. Now I know it is :)

Looking forward to the fix, and again thank you for your hard work!

[2016-09-19 20:23] SahAssar commented on #70
@frozenshadow Please let me know if you have issues with resolving it, that's the only way I can know if the fix works!  :)

[2016-09-19 20:24] lswest commented on #77
If you want, I can write up the docs for this particular scenario. I'd just need to know your preferred approach.

[2016-09-19 20:27] frozenshadow commented on #70
Sure, I will let you know as soon as you have released 4.0

[2016-09-19 20:36] SahAssar commented on #77
@lswest I was planning to create a repo/site with basically a clone of the docs repo but with just info on translate. If you want to write up a `.md` file and PR it into a `docs` folder on this repo that'd greatly appreciated. Then we can have that as a start of our docs and then move it into proper docs :)

[2016-09-20 07:59] evertalbers opened #79 "menu.yml / {{ item|current }} with translateable slug"
One more thing to warn for:
`{{ item|current }}` does not work when you make the slug translatable.
It does work with a not-translated slug.

`{{ item|current }}` compares `{{ item.link }}` with `{{ record.link }}` I guess.

[2016-09-20 09:51] #77 closed

[2016-09-20 11:56] Mariyo opened #80 "How to translate Content Type Slug"
Hello,
is it possible to translate Content Type slug also?

[2016-09-21 08:36] lswest commented on #74
I just tried creating a new page (called 404) in order to have a nice-looking error page.  However, when saving the page (from the create page screen), I'm greeted with this error:

[code]
A few things I noticed right off the bat - there isn't an image field in my definition of Pages, and the slug field is empty ("").  No errors while editing pages that already exist.

[2016-09-21 08:41] lswest commented on #79
I don't have an issue with the following code (which adds the `active` class to my menu item):

[code]

My menu correctly adds the active class to both menu item parent and current menu item, regardless of if I'm on `/en/about-us/company-profile`, or `/de/ueber-uns/unternehmensprofil`.

However, I have custom routing enabled (which may be helping this issue) - see below for an example.  It also re

[2016-09-21 08:44] lswest commented on #80
Yes, but you will need to create custom routes.  This was a recommendation from @SahAssar the other day, when he was helping me with another issue.

For an example, see below.  The first two entries translate my content type "ueber" into both English (`/en/about-us/`) and German (`/de/ueber-uns/`).  The third entry just configures the normal pages content type to work with en and de (and translate

[2016-09-21 09:02] Puddingboy commented on #74
As far as I know the 404 page has been an issue for longer. On the version I was using till recently it threw me a bolt error page because the 404 did not exist(yup true) but after I did create a 404 page, it simply shows a white page with no content(page has no head or body)

[2016-09-21 17:03] SahAssar commented on #80
Thanks @lswest for answering! I'm going to close this, but @Mariyo feel free to reopen if you run into trouble with it!

[2016-09-21 17:03] #80 closed

[2016-09-21 17:07] SahAssar commented on #74
The 404 issue should have been solved in #48 IIRC.

That error that you see @lswest looks completely unrelated though... Did you perhaps try to save in a non-default locale before saving in the default locale?

[2016-09-21 17:09] SahAssar commented on #79
@evertalbers Did we do any custom routing on your site when we fixed it? If so that might be the issue, cause as far as I can see the @current filter works fine for me even with the automatic routing.

[2016-09-21 17:25] lswest commented on #74
@SahAssar I was indeed doing that, but after changing the locale in the URL (as the dropdown doesn't appear when creating a new entry, at least not for me), the same error occurred when trying to save.

[2016-09-21 17:32] evertalbers commented on #74
I think I have the same problem here, but no time to look at it tonight I'm afraid. If you still have the login somewhere, you're welcome.

[2016-09-21 17:44] SahAssar commented on #74
hmm... Did you actually back out of the screen and click the "new page" button, or just change the query string? (It shouldn't matter, but who knows what might we weird when saving in non-defaults in the new system. The old one could do it, but I don't think the new one can.)

[2016-09-21 18:13] lswest commented on #74
@SahAssar I tried both approaches, and the same error occurred each time.  However, I did notice one small change from the original error - when doing it in the default locale (de), the "id" field is filled in, while it was empty when doing it in the non-default.  I've not got time to do more investigating today, but I'll check the database tomorrow, and see if there isn't something odd going on t

[2016-09-21 18:51] SahAssar commented on #74
@lswest If you don't find the error could you post a separate issue with instructions to reproduce? It sounds to me like it's unrelated to this issue, especially since this issue should be solved by running dev-master as you are now doing...

[2016-09-21 18:57] SahAssar commented on #74
@lswest @evertalbers Bug confirmed on @evertalbers'es site (didn't see his message before replying)...

You both use MySQL, right? Cause on a SQLite site I can't repro it.

[2016-09-21 19:52] lswest commented on #74
@SahAssar I'll open up a new issue if I can't find the error, for sure - and probably even if I do (whether I solve it or not).  And yes, I'm also on MySQL.  The weird part is that my content type doesn't define an image field.

[2016-09-21 19:54] SahAssar commented on #74
@lswest I'm guessing you probably had an image field in it previously, but that the db column remains, right?

[2016-09-22 06:46] evertalbers commented on #74
Yes, MySQL

[2016-09-22 16:07] lswest commented on #74
@SahAssar Yup, I had a few columns I had to clean up.  I also didn't have any issues creating new entries for content types that did contain image types.  As such, I would call it a non-issue (or, at most, a confusing error message).

[2016-09-22 16:08] SahAssar commented on #74
I just installed mariadb which should be 100% compatible with mysql IIRC, but I can't reproduce the issue on there...

@lswest Do you mean that the issue disappeared when you removed the old columns?

[2016-09-22 16:11] lswest commented on #74
@SahAssar Yup, the issue was gone once I deleted two columns that no longer existed in the content type definition (image, and teaser).  If I recall correctly, they're included by default in Bolt's example pages.  I can give it a shot in mariadb tomorrow, if you want confirmation whether it occurs there or not.

[2016-09-22 16:13] SahAssar commented on #74
@lswest That'd be awesome... I'd like to release this tomorrow (as soon as I've polished a few edges), and if I can get a real fix for this in that'd be nice.

[2016-09-22 17:24] lswest commented on #74
@SahAssar I found some extra time today, so I've checked it now. The error doesn't occur in mariadb at all.  It's obviously patched something that avoids the error.  This is with the exact database dump that was causing issues for me earlier, and still contains the image and teaser columns.  The mariadb version is `10.1.17`, and MySQL is `5.7.15` (which should be the newest in both cases).  I'm us

[2016-09-22 17:33] SahAssar commented on #74
🔥 MySQL 🔥

[2016-09-22 17:34] SahAssar commented on #74
I guess I'll have to setup a MySQL install... But to me it sounds like this might be an issue in bolt core, in which case we'll need to solve it there.

[2016-09-22 17:35] SahAssar commented on #74
@lswest Also, thank you so much for your help in this issue and others! It is greatly appreciated 👍

[2016-09-22 17:56] lswest commented on #74
@SahAssar No problem, let me know if there's anything else I can do to help!

[2016-09-23 12:18] Mariyo commented on #80
Thx for response, just wondering case we have 10 languages and 10 content types... Pretty huge admin menu :)

I like this extension: https://github.com/AnimalDesign/bolt-translate. Unfortunately, I dont like how data are stored. Maybe combination of both solutions could result into something usefull.

[2016-09-23 19:17] peterboorsma commented on #74
@SahAssar Any news about this? I can't get the translations going with Bolt 3.1.3 with Translate dev-master. I followed the instructions in the readme carefully.
If you want me to test anything...

[2016-09-29 18:51] SahAssar commented on #74
@peterboorsma I was just about to tag a release, but that you can't get it working with the dev-master seems like it's not really fixed even in dev-master. You don't seem to be active on slack right now, could you ping me when you are so we can check what's wrong? The main problem should have been fixed in dev-master and the other one seems to me like a MySQL problem in core (although I'm still lo

[2016-09-30 07:22] peterboorsma commented on #74
@SahAssar It could me me who's doing something wrong of course.. But, I can't get it working.

[2016-09-30 07:27] peterboorsma commented on #74
@SahAssar I get this message:
An exception occurred while executing 'CREATE INDEX IDX_556FAC47662711BB ON bolt_nieuws (nlslug)': SQLSTATE[42000]: Syntax error or access violation: 1170 BLOB/TEXT column 'nlslug' used in key specification without a key length

[2016-09-30 08:06] bobdenotter commented on #74
Can confirm: Seeing the same error as Peter. Mysql 5.6.29.

[2016-09-30 08:10] bobdenotter commented on #74
@SahAssar the `slug` column Bolt creates is a `varchar 128`. Shouldn't the `nlsug` and similiar columns also be `varchar 128` instead of `longtext`?

Poking around a bit.. Will update in a minute.

[2016-09-30 11:56] SahAssar commented on #74
@bobdenotter yeah, but since the fields are faked hidden fields I can't specify the type. It works without the index too.

I just pushed a change that adds a fake fieldtype `locale_data` that to make that column into a varchar.

When the config refactor lands in stable I can fix this for real (without the hidden fields and so on) IIRC.

[2016-09-30 12:35] peterboorsma commented on #74
I updated to version dev-master(cc99e0) and removed the index lines in my contenttypes.yml. This seems to solve the problem. Thank you.

My contenttype now:

[code]

[2016-09-30 12:40] #74 closed

[2016-09-30 12:43] peterboorsma commented on #74
@SahAssar If I add the index: true option, Bolt keeps giving the following message. That's why I removed it.
 An exception occurred while executing 'CREATE INDEX IDX_556FAC47662711BB ON bolt_nieuws (nlslug)': SQLSTATE[42000]: Syntax error or access violation: 1170 BLOB/TEXT column 'nlslug' used in key specification without a key length

[code]

[2016-09-30 12:56] SahAssar commented on #74
@peterboorsma See the example in the readme, the slug fields use the type `type: locale_data` to make them into the correct column type, just change your config to that and it should work.

[code]

[2016-09-30 13:27] peterboorsma commented on #74
My bad. You are right. Changed it, works fine now.

[code]

[2016-10-01 19:27] frozenshadow commented on #70
Just updated to 4.0 and bolt 3.1.4. And unfortunately the issue is still there :'(

[2016-10-02 16:54] SahAssar commented on #70
S**t. I'll have a look at this soon as possible (hopefully tomorrow unless another shitstorm hits work), are you on slack or IRC so I can work through debugging the problem at a time of your convenience (if you are okay with that) if I don't find it myself?

[2016-10-03 06:36] frozenshadow commented on #70
Yeah, thought that too :P
Just created a account on Slack, if I have done everything correct (bit of a newbie here) I should have the same username.

[2016-10-03 07:31] SahAssar commented on #70
@frozenshadow I can't find you on slack... Have you joined our slack via https://slack.bolt.cm/ ?

[2016-10-03 19:10] SahAssar commented on #70
For anyone that comes along and is getting the same error: The issue was the records weren't "re-saved" in the locales, which is needed if the translate_slugs option is on, so resave the records and lemme know if it doesn't help :)

[2016-10-09 11:20] frozenshadow opened #81 "[BUG] Cannot save contenttype"
When saving a contenttype the following error appears:

[code]

**Note:** this is only when saving a translation other than the Bolt default language.
## Details
- Translate Version: 4.0.0
- Install type: Extension Repository
- Bolt Version: 3.1.4 (fresh and upgraded from 2.2)
- PHP version: 7.0.3
- Used webserver: Nginx version 1.9.11

[2016-10-09 11:23] frozenshadow commented on #81
After some testing with @SahAssar it appears to be the relation defined in the contenttype. And only when the relation is pointing to itself, like this:

[code]

[2016-10-09 20:11] jnvsor opened #82 "[BUG] Not filling in all translations causes 404s and exceptions"
Simply creating a page and marking it as published in a default bolt install with translate goes very wrong.

Assuming the defaults, the English version throws an exception, and the german version throws a 404 (Despite showing up in the default "All pages" list)
## Details
- Translate Version: 4
- Install type: Extension Repository
- Bolt Version: 3.1.4
- PHP version: both 5.6 and 7
- Used webserv

[2016-10-09 20:25] frozenshadow commented on #82
@jnvsor this is a known problem (see issue #70).
A workaround (although not optimal) for now is to save all the possible translations, until @SahAssar fixes this ;)

[2016-10-11 14:52] evertalbers opened #83 "Using 'where' in translateable items"
Is it possible that using 'where' as in https://docs.bolt.cm/3.1/templating/content-fetching#using-code-where-code does not work for translatable fields?
I tried it in a boolean (to filter out consciously-untranslated items in a list) and that did not work.

Now using an if-then loop, but 'where' would be better to get a proper pagination.

[2016-10-11 15:40] SahAssar commented on #83
`where` works on the default contenttype, not on translated values. This is because the values arent replaced with translated ones until after the records are fetched from db and are being hydrated.

[2016-10-11 15:54] evertalbers commented on #83
OK, thanks.

[2016-10-11 15:54] #83 closed

[2016-10-14 18:30] Puddingboy commented on #16
How is it going with the wishlist at this point? Hit me up if you feel like testing new stuff :)

[2016-10-15 12:52] evertalbers opened #84 "og:locale in Bolt SEO Premium Extension™ v0.10.3 Platinum Edition Pro"
- Translate Version: [ dev-master (cc99e0) ]
- Install type: [ Extension Repository  ]
-  Bolt SEO Premium Extension™ v0.10.3 Platinum Edition Pro Version: v0.10.3
- Bolt Version: [ 3.1.4 ]

I see that the default install of aforementioned plugin does not 'pick up' the locale, on a Dutch example it still says
`<meta property="og:locale" content="en_GB" />`

[2016-10-15 16:52] evertalbers opened #85 "Cutting locale string from thumbnail urls"
Images created by a Bolt image/thumbnail in a translated page get urls like e.g. `/thumbs/250x100c/stock_images_490px/onshore_wind_turbines2.jpg?_locale=en`

If I see it correctly, the `?_locale=en` triggers browsers to reload them when you switch locales, while the image is the same - and is already in the cache.

Is there a trick to omit the `?_locale=en`?

[2016-10-21 10:36] SahAssar commented on #85
Hmm, I think we need to do some check here: https://github.com/AnimalDesign/bolt-translate/blob/master/src/Routing/LocalizedUrlGenerator.php#L38-L40 to ensure that we only add the _locale param to content routes, not to thumb routes...

[2016-10-21 10:40] SahAssar commented on #84
This is because the SEO extension gets the locale from the config file instead of the set locale, could you try replacing https://github.com/bobdenotter/seo/blob/master/templates/_metatags.twig#L7 with `<meta property="og:locale" content="{{ htmllang()|replace({'-': '_'}) }}" />`?

[2016-10-21 10:41] SahAssar commented on #16
@Puddingboy Sorry, I haven't been able to work on it much lately, too much other work stuff going on :(

[2016-10-21 12:01] evertalbers commented on #85
Hope that I'm not supposed to be part of the 'we' here :-)

[2016-10-21 13:34] SahAssar commented on #85
@evertalbers haha, no, I'll have a closer look at it soon :)

[2016-10-21 14:00] evertalbers commented on #84
Yep, it worked! Maybe you will want to add this to the translate docs somewhere?

Related, I also made a pull request for Bolt SEO Premium Extension™ https://github.com/bobdenotter/seo/pull/31

[2016-10-21 20:10] SahAssar commented on #84
Hmm, I was hoping to get a more permanent (and automatic) fix in, @bobdenotter would you be okay with that?

[2016-10-22 07:21] bobdenotter commented on #84
@SahAssar Yes, sounds good. If you have a plan, I'm all for that. :-)

[2016-10-22 08:13] evertalbers commented on #84
In that case you could also look at pre-filling title/meta fields from Translate-pages to SEO.

[2016-10-24 15:29] sbonardt opened #87 "[BUG] Version 4 does not seem to respect default lang"
I've updated my (working) Translate extension from 3.1 on a Bolt 3 to the latest version 4 (with latest Bolt) but it doesn't seem to recognise the default language set in the Bolt main config file anymore.

I've set the Bolt main locale in config to: nl_NL

In the extension config (translate.animal.yml) I've set:

[code]

And thus made sure the default is the first one in order. (nl_NL)

And in co

[2016-10-25 14:44] sbonardt commented on #87
Retested on a fresh install and it seemed to give the same results. However, on rechecking and rereading (multiple times...) I noticed the 'use_accept_language_header' setting in the config.

By default, this is set to TRUE.

[code]

I would advise to set this to default state 'false', and make the 'use_accept_language_header' something you choose for as your setting up, OR change the README docum

[2016-10-25 14:47] sbonardt commented on #87
**TL;DR:**
**For version 4 and up...**
Is your website not showing your default language you've set in main config.yml file and in translate extension config (by setting preferred lag first). Check the 'use_accept_language_header' setting in the extensions config file. If set to TRUE this overrides everything.

[2016-10-30 11:12] SahAssar commented on #87
@sbonardt I get that this is causing grief... Unfortunately I think this is one of those no-win scenarios. How to "detect" preferred language is one of those things on the internet that everyone seems to do poorly and that there is no good solution to. We could make it default to off though (as you suggested), @peterverraedt are you okay with that?

[2016-10-30 11:23] peterverraedt commented on #87
@SahAssar I'm okay with that, defaulting to off would definitely avoid this kind of problems. It is probably best if we add some documentation on this feature in the Readme though, so that future users know this feature exists.

I actually think that this "misbehaviour" of detecting the preferred language only exists in Dutch speaking countries and Scandinavian countries. Other countries tend to s

[2016-10-30 13:23] #87 closed

[2016-10-30 19:12] SahAssar commented on #84
PR opened in the seo repo.

[2016-11-15 17:58] ChristopheLecroq opened #89 "[Bug] Twig exception on dbupdate_result"
Hi everybody,

I've some trouble to use the plugin. On fresh install, when I create one page and try to update database, I have the following exception : Uncaught Exception: Twig_Error_Runtime

 Twig_Error_Runtime in Template.php line 411:
An exception has been thrown during the rendering of a template ("Warning: Invalid argument supplied for foreach()") in "@bolt/_nav/_secondary-content.twig" at

[2016-11-30 20:06] rolandow opened #90 "[BUG] Translations don't show with repeater field"
Translations seem to be saved correctly. I can see them in de admin interface of bolt, when I change the locales.

In the database though I see there is no json stored for nldata and nlslug, which are exactly the locales that do output information. The other locales don't.

I used this contenttype definition:

[code]

I used this Twig snippet to display this content type:

[code]

Details
-------

[2016-12-08 13:30] anketwokings opened #91 "[RFC] docs about how to edit menu labels"
Hi Svante!

Maybe a short example in the readme how to edit a menu-item label? Most sense makes editing the _menu.twig, and using for instance a {{ l('menu-'~item.label|default('-')) }} so it shows up as a label.

Just for the noobs, that you can provide them with a ready made tag.

Thank you, keep up the good work!
Anke

[2016-12-19 13:31] nestordedios opened #92 "[BUG] InvalidParameterException and Uncaught Exception: HttpException"
Hi everyone,

I'm having some troubles with the extension and it is not working as expected for me.

I have set Dutch as default locale and added English as a second language for the site.

When I create a new page and fill in some fields the dutch version looks like this

![new-page](https://cloud.githubusercontent.com/assets/6607455/21313788/252ed20a-c5f4-11e6-9df6-3142292689c0.png)

the English

[2016-12-21 10:25] madc commented on #84
The two PRs have been merged. Does that mean, we can close this issue? @SahAssar was mentioning, its only a temporary fix..

[2016-12-21 13:33] madc commented on #40
Just a quick heads up: I'm working on this feature here: [madc/bolt-translate](https://github.com/madc/bolt-translate/tree/routing_style)

[2016-12-22 09:00] sbonardt commented on #92
I have the same issue:

I think the ERROR description would be: Saved page not accessible after 'publication' and 'save' when multiple langs specified. The error page above is shown.

I have the same version as @nestordedios and setup the same way.

If i create a page, there are no options for multi language because the page has not been saved yet. After saving/publication the tab with the langs a

[2016-12-29 12:03] madc commented on #92
If `translate_slugs` is set to true in the extension config, a separate `slug` field for each locale (`en_slug`, `de_slug`,...) is created. It seems, that only the default locale is populated, the others are left empty.

[2016-12-29 12:05] madc commented on #82
I think, this is the same issue as seen in #92.

[2016-12-29 12:09] madc commented on #90
Content of repeater fields is stored in a different table (`bolt_field_value`) for all contenttypes. Could you have a look, whats stored in there?

[2017-01-02 09:32] #91 closed

[2017-01-02 10:04] SahAssar commented on #84
It's good enough for me :)

[2017-01-02 10:04] #84 closed

[2017-01-04 00:35] zomars opened #93 "[BUG] _sub_menu_translated.twig is not defined"
Details
-------

 - Translate Version: 4.0.1
 - Install type: Local install
 - Bolt Version: 3.2.5
 - PHP version: 7.0
 - Used webserver: Apache version 2.4

Reproduction
------------

When trying to use `{{ menu(template = '@bolt/frontend/_sub_menu_translated.twig') }}` from the docs I get and undefined twig error, also I can't seem to find the file anywhere.

![captura de pantalla 2017-01-03 a l

[2017-01-04 22:40] SahAssar commented on #93
Is the file actually there (in the frontend folder)? I haven't tagged a release with that file in it yet since I was hoping to fix some of the other bugs too, so it might just be that you are looking at the docs for the master branch, but have 4.0.1 installed.

[2017-01-06 21:27] zomars commented on #93
I guess you're right. The file is not present.

[2017-01-06 21:43] SahAssar commented on #93
Alright, closing for now, please reopen if it still occurs when a new version is tagged (hopefully this weekend)

[2017-01-06 21:43] #93 closed

[2017-01-07 17:09] madc commented on #85
I've been having a quick look and can not reproduce this issue. @evertalbers Can you provide additional information? Where do you see this link, what twig functions/filters are you using?

[2017-01-08 10:13] evertalbers commented on #85
An example: on
http://greendev.profin.nl/nl/pagina/insurance-due-diligence
the image has url
http://greendev.profin.nl/thumbs/970x332c/stock_images_490px/onshore_wind_turbines2.jpg?_locale=nl

The twig code is
[code]
Bolt 3.1.4 - Translate dev-master (cc99e0) (client takes forever to decide to go live :-/  )

[2017-01-08 11:06] madc commented on #85
You're right. There it is. I've only tested it on the current bolt-stable (3.2.x), where it does not show this behaviour.

[2017-01-08 13:36] SahAssar commented on #85
Closing this as it only happens on an unsupported version of bolt (bolt 3.1 stopped receiving updates/support as soon as 3.2 was released). Please reopen if you see it on a currently supported bolt version!

[2017-01-08 13:36] #85 closed

[2017-01-08 18:55] madc commented on #90
I am able to recreate this issue and can confirm, that it still persists. Data are stored correctly, but hydrated differently for the default locale and the other locales.

Default:
![repeater_default](https://cloud.githubusercontent.com/assets/343392/21752610/1086489a-d5dc-11e6-8767-c507ab9ccdad.png)

Secondary:
![repeater_secondary](https://cloud.githubusercontent.com/assets/343392/21752611/1386

[2017-01-08 19:45] madc commented on #90
I've been discussing this with @SahAssar. This issue is based on one in the Bolt-core and we wont be able to fix it until the 4.0 release. The good news is, you can easily workaround this by using the get-notation (repeaterfield.get('fieldname')).

I'll add this info to the readme.

[2017-01-08 19:45] #90 closed

[2017-01-09 22:39] zomars opened #95 "[RFC] Handle language slug as subdomain"
Is it possible to handle the language routing from `http://domain.com/es/` to `http://es.domain.com/`?

Or some like this in the [Symfony](http://symfony.com/doc/current/routing/hostname_pattern.html) docs.

Cheers.

[2017-01-10 11:29] madc commented on #95
@SahAssar just did something with different domains, so it should be possible.

[2017-01-11 14:11] #92 closed

[2017-01-11 16:19] zomars commented on #95
Is that true @SahAssar ?

[2017-01-11 16:52] SahAssar commented on #95
@zomars Yeah, It's not 100% tested yet though, and I'll have to check the modifications I had to make to the urlgenerator (I think, it's a bit hazy), but this is the gist of it (for a finnish/swedish site where I used TLD's instead of subdomains):

[code]

And then in my menu:

[code]

Lemme know if it works for you and we can add it to the docs.

[2017-01-11 17:00] #89 closed

[2017-01-11 17:15] SahAssar commented on #82
Should have been fixed in #96, which fixed #92, so I'm closing. Please reopen if it reappears!

[2017-01-11 17:15] #82 closed

[2017-01-11 18:31] zomars commented on #95
This looks awesome @SahAssar, I will try it ASAP. Unrelated question, are you handling multiple TLD in a single bolt instalation? Or is it a multisite? I'm curious now...

[2017-01-11 20:20] SahAssar commented on #95
@zomars Well, this particular site is a single bolt install with just the TLDs nginx config pointing to the same root. Part of the changes I made in https://github.com/bolt/bolt/pull/6209 was to allow it to detect the canonical domain for each language without having to set it explicitly.

On our normal sites it's all a single multisite install, so that's basically every site having it's on config

[2017-01-17 18:49] RickvanB opened #97 "[BUG] Maximum execution time exceeded"
Hello,

I installed the plugin on my shared hosting, because openssl doens't work locally. The homepage works fine, but whenever I'm trying to visit another page on my website. It get's in an endless loop and after that I get the message from Bolt that my maximum execution time is exceeded.

Details:
- Latest version of Translate
- Installed via Bolt CMS
- Bolt version 3.2.3
- PHP version 5.6
- We

[2017-01-18 16:51] benwallis commented on #40
I think I have this working just by setting my own route. But it's only a very simple single-page site with only one contenttype.

/app/config/routing.yml
[code]
All options in translate.animal.yml are set to false.

[2017-01-18 16:53] benwallis opened #98 "[BUG] Admin error when routes are not defined"
Twig_Error_Runtime in Template.php line 453:
An exception has been thrown during the rendering of a template ("Unable to generate a URL for the named route "preview" as such route does not exist.") in "@bolt/fields/_locale.twig" at line 62.

Details
-------

 - Translate Version:  4.0.1
 - Install type: Extension Repository
 - Bolt Version: 3.2.4
 - PHP version: 5.6
 - Used webserver: Apache 2

Re

[2017-01-18 19:27] SahAssar commented on #98
Sorry, but I'm going to close this. Bolt in a number of places assume that the default routing is there, and we in the Bolt team plan to change this in the future (when re-hauling the backend to make it more configurable), but for now those routes are "required". Please see bolt/bolt/issues/6165 for more context.

[2017-01-18 19:27] #98 closed

[2017-01-20 19:09] SahAssar commented on #97
Hmm, I've never seen it go looping off like that, Could you perhaps check the debug profiler so see if that gives us any more info?

[2017-01-22 14:30] RickvanB commented on #97
Hi, thanks for answering! Where can I find that.
This is the url: https://test.inchplastics.nl/nl/pagina/over-ons. So you can check by yourself if necessary.

[2017-01-22 20:04] SahAssar commented on #97
Hmm, it looks like it's hitting that execution time in monolog, but the only place we use the logger is in the menu, here: https://github.com/AnimalDesign/bolt-translate/search?utf8=%E2%9C%93&q=logger, so I'm guessing it's something to do with the menu. Could you post your menu.yml? Also, the debugger can be turned on and off in the main config.yml and is then shown on the bottom of every page.

[2017-01-22 21:04] RickvanB commented on #97
Debug is turned on in the main config.yml, but for some reason it doens't show up when the error is thrown.

My menu.twig (the most important, the rest is just html):
[code]

As I see now, my menu.yml is never changed (just default stuff), maybe that's the problem?
[code]

[2017-01-23 19:39] zomars opened #99 "[BUG] Back-end gets stuck when saving a translated html field"
I've made some tests, and it only happens when trying to save an html field in another language. I get this:

[code]

My contenttypes.yml

[code]

translage.animal.yml

[code]

Details
-------

 - Translate Version: 4.0.1
 - Install type: Extension Repository
 - Bolt Version: 3.2.6
 - PHP version: 7.1
 - Used webserver: Apache version 2.4

[2017-01-25 16:09] zomars commented on #99
It seems to happen only with html fields where tags has some kind of attribute (like "class").

[2017-01-25 17:40] RickvanB commented on #97
Is it possible to temporarily disable the logger?

[2017-01-27 09:25] peterboorsma opened #100 "Uncaught Exception 'ContextErrorException' [RFC]"
I am trying to update a Bolt 2 site with translations to Bolt 3.2.6.  Because that's not easy to do I decided to just remove all translations from the database (db table 'bolt_locales', 'locale' fields in all contenttypes), set up a clean Bolt install and then add the Translate extension.

After adding the needed stuff to my contenttype (as documented) and updating the database Bolt returns a Cont

[2017-01-30 09:35] SahAssar commented on #100
Edited the issue to use codeblocks instead of inline code, will have a look shortly.

[2017-01-30 11:03] SahAssar commented on #100
@peterboorsma Switching to master fixed this, right?

[2017-01-30 18:04] zomars commented on #99
My buddy @ezerangel pinpointed the problem. By removing a `templateselect` type field in the contenttype.

[2017-01-30 18:12] SahAssar commented on #99
zomars: So it was unrelated to the html field? Do you have templatefields in this record?

[2017-01-30 18:39] zomars commented on #99
Yes, and fortunately no, it was the pages contentype but we weren't using it.

[2017-02-03 18:22] RickvanB commented on #97
Any solution? If you want, I can make a repo from my current site, if that helps.

[2017-02-03 23:15] SahAssar commented on #97
@RickvanB Sorry, I haven't had the time to look deeper at this :(

I haven't been able to reproduce it in a fresh install, but I'll check it out more in the coming days. Sorry for the delay!

[2017-02-06 08:40] peterboorsma commented on #100
@SahAssar Yes it did!

[2017-02-06 08:47] peterboorsma opened #101 "[BUG?] Extension doesn't keep default locale"
The docs say that the first locale added to the translate.animal.yml is used as the default locale.
In my case, frontend and backend both keep using EN as the default.
nl_NL is the locale set in config.yml and the first in translate.animal.yml.

Am I the only one experiencing this?

[code]

-------
 - Translate Version: dev-master
 - Bolt Version: 3.2.6

Reproduction
------------

If you're filing

[2017-02-07 07:52] #100 closed

[2017-02-07 16:08] SahAssar commented on #99
So, was the templateselect tagged as translatable?

[2017-02-07 16:08] Puddingboy commented on #99
in my case no

[2017-02-07 16:13] Puddingboy commented on #99
report from here:
tested on bolt 3.2.6
translate dev and 4.0.1 both responsed with infinite loading
issue arrises when template field is present
while the is_translatable option is not added

[2017-02-07 16:26] Puddingboy opened #104 "[BUG] thumbnails do not seem to be working correctly"
thumbnails do not seem to work correctly.
the {{ thumbnail(record.image, 740, 560) }} outputs:
/thumbs/740x560c/2017-02/1486484160_filename.jpg?_locale=nl

Details
-------

 - Translate Version: [ dev and 4.0.1 ]
 - Install type: [ Extension Repository | Local install ]
(installed from adminpanel)
 - Bolt Version: 3.2.6 NOT-flat
 - PHP version: 5.6.22
 - Used webserver: Apache/2

Reproduction
----

[2017-02-07 17:00] zomars commented on #99
Neither in my case @SahAssar

[2017-02-08 07:31] Puddingboy commented on #104
Ok (I should have done this yesterday) no tumbnails exist within my thumbs folder. I assume no thumbnails have been created. Maybe because the locale is tied to each request? ```?_locale=nl```

[2017-02-08 15:57] RickvanB commented on #97
@SahAssar Thanks for you answer and for looking into it deeper! Is it a possibility to temporarily disable the logger? So that I can move on with the website.

[2017-02-10 14:49] nestordedios opened #106 "[BUG] placeholder attribute of a BoltForms not possible to translate."
Hi again @SahAssar ,

I'm using Translate extension and next to it taking the advantage of the nice feature to translate BoltForms with `{% form_theme form '@bolt/frontend/boltforms_theme_translated.twig' %}`. As the Docs explain... I'm using Labels extension as well.

Details
-------

 - Translate Version: [ dev-master ]
 - Labels Version: [ 3.0.4 ]
 - BoltForms Version: [ dev-master ]
 - Install

[2017-02-15 18:49] SahAssar commented on #101
@peterboorsma Sorry for the late reply... Could you perhaps try turning off the automatic language detection in the config? It might be what's causing this for you.

[2017-02-16 17:10] SahAssar commented on #106
Hey @nestordedios!

Could you try adding this to the boltforms_theme_translated file and see if it fixes it?
[code]
If it does I'll add it to the default.

[2017-02-16 17:18] SahAssar commented on #97
@RickvanB We've been having one of those nightmare projects at work, so still no luck on this. Could you perhaps try the latest dev-master of translate? A bunch of small issues have been fixed in that, and this might have been effected.

[2017-02-16 18:03] #99 closed

[2017-02-16 18:04] SahAssar commented on #99
Fixed now, could the both of you please update to the latest dev-master and see if it works for you too? Thanks!

[2017-02-16 18:13] #104 closed

[2017-02-16 18:14] SahAssar commented on #79
Seems to work fine, closing for now. Please reopen if we run into it again.

[2017-02-16 18:14] #79 closed

[2017-02-16 18:16] SahAssar commented on #71
Sorta eased by #103 and will be fixed by bolt/bolt#4767. Closing for now, please reopen if it still doesn't work after bolt/bolt#4767 is fixed!

[2017-02-16 18:16] #71 closed

[2017-02-16 18:38] RickvanB commented on #97
@SahAssar I've updated Translate to 4.0.2, but still the same problem. When I set debug to true I get an empty response from Chrome. If debug is false I get only an error page, which is probably the error in my first post.

[2017-02-16 19:33] SahAssar commented on #97
@RickvanB Yeah, sorry, I botched that release... :/ I tagged 4.0.3 which should fix that WSOD problem, could you try that?

[2017-02-17 09:24] nestordedios commented on #106
Hi @SahAssar ,

Adding the `{% block attributes %}' to the `boltforms_theme_translated.twig` didn't fix it. Values of placeholders where not added to the Labels extension.

It seems the `{% block attributes %}` is not being included in the `{% block %}` that generates the `<input>` tags.

When I used `{{ block('attributes') }}` in the `{%- block form_label -%}` of the `boltforms_theme_translated.t

[2017-02-17 10:38] RickvanB commented on #97
@SahAssar I installed 4.0.4 yesterday and it seems like it's working again! 👍 . Only thing that I need to find out now what my slug for english pages is. Anyway, many thanks for your help!

[2017-02-18 10:21] SahAssar commented on #97
Great, closing this then! :)

[2017-02-18 10:21] #97 closed

[2017-02-18 10:26] SahAssar commented on #106
Ah, sorry, I thought that boltforms used `attributes`, not `widget_attributes`... Try this:
[code]

[2017-02-18 10:30] SahAssar commented on #81
Just tested on bolt 3.2.6 with translate 4.0.4 and couldn't reproduce anymore, so it's probably been fixed either in translate or in bolt in the meantime. Closing for now, please reopen if it reappears! :)

[2017-02-18 10:30] #81 closed

[2017-02-18 10:34] SahAssar commented on #101
We has a similar issue on IRC a little while ago and the issue was the automatic language detection. Basically it tries to direct you to the preferred language set in the browser, after a locale has been detected it is made "sticky" though, and will not direct you back. It can be turned off in the config though.

Closing for now as "it's not a bug, it's a feature" (Always wanted to say that in an

[2017-02-18 10:34] #101 closed

[2017-02-18 10:40] SahAssar commented on #40
While this is possible with some routing hacks like @benwallis mentioned, I don't think we can do it on a larger scale as long as we do prefix routing. Basically we can't check for the locale when building the routing, so we can't exclude the locale then (sorta a catch-22 problem) and we can't have optional parameters before required ones so we can't make the locale optional since the rest of the

[2017-02-18 10:40] #40 closed

[2017-02-18 10:42] SahAssar commented on #95
@zomars Just checking in, did that routing worrk out for you?

[2017-02-18 11:12] #95 closed

[2017-02-18 11:16] SahAssar commented on #95
Just tried it out, it required one small tweak in the localized menu builder (fixed in c4a6e7e64f0ecbad5121869a1cde8e3b4df1557e), and I added the instructions to the readme.

[2017-02-19 15:34] RickvanB opened #107 "[QUESTION] Page specific fields"
Hi,

Sorry for opening an issue again, but I have a question. In my current setup I have page specific fields. These are defined in my theme.yml file. It looks like the plugin doesn't do anything with it.

Does the plugin do anything with theme.yml?

[2017-02-19 16:21] SahAssar commented on #107
Hey again @RickvanB!

To translate template specific fields set the `templateselect` field in your contenttypes.yml as translateable and then it should work. Lemme know if it doesn't work for you!

[2017-02-19 16:21] #107 closed

[2017-02-20 03:29] zomars commented on #95
Yes It was working with some minor caveats, will test this new version and let you know.

[2017-02-20 17:56] RickvanB commented on #107
Thanks! It works now.

[2017-02-23 18:50] SahAssar commented on #106
@nestordedios Did you have time to try out the above snippet?

[2017-02-23 20:55] nestordedios commented on #106
@sahassar I haven't had a lot of time this week to check it out. I will try it tomorrow morning and give you some feedback on that. 👍

[2017-02-24 09:05] nestordedios commented on #106
Hi @SahAssar,

I just tried it and it works 🎉 . Thanks a lot!!

[2017-02-24 10:28] #106 closed

[2017-02-24 10:29] SahAssar commented on #106
@nestordedios Thanks! I've commited the fix :)

[2017-03-02 18:06] RickvanB commented on #107
Question again, is it possible to translate blocks?

[2017-03-02 21:48] SahAssar commented on #107
If you mean blocks as in the contenttype, sure it's translated just like any other contenttype. If you don't mean that I'm not sure what you mean?

[2017-03-03 10:18] RickvanB commented on #107
@SahAssar Yes, blocks as in a contenttype.
This is the contenttype:
`blocks:
    name: Blocks
    singular_name: Block
    fields:
        title:
            type: text
            class: large
            group: "Block"
        slug:
            type: slug
            uses: [ title ]
        text-one:
            type: text
            label: Tekst 1
            group: content
            is_tran

[2017-03-03 10:43] SahAssar commented on #107
Yeah, just add the locale fields ans so on just like any other content type and it should work.

[2017-03-21 10:02] FerranMartin opened #110 "[BUG?] Translations are not shown on the admin area for a templateselect field"
Hi!

First of all, if this is not a bug and it's my fault.. sorry :(

I just installed the extension and try to translate my pages contenttype.
These pages have a `templateselect` field that is `is_translateable`. So when I go to the pages admin area I see a `template` tab where I can set the template variables, and I can set a different value for each locale. The translated value it's saved corre

[2017-03-29 08:59] evertalbers opened #111 "RFC: Extend the description in the extensions site"
I noticed that the bolt-translate extension cannot be found in the extensions store by searching for terms as
- Language
- Languages
- Localisation
- Multilanguage

So I guess you catch my drift. You could even add something like "Comparable with WPML - but much better" , because some people may be looking for a WPML replacement :-)
(and there might be comparable plugins for other CMS'es that I'm

[2017-04-10 19:55] SahAssar commented on #111
Added a few via 231be54204b393f6f61edafb3c7d46ccfeb59598, if you have ideas for more please let me know or PR them. I'm not really liking tagging it with the names of plugins for other CMS'es though, but that's personal and if other folks feel that it'd help I'm open to including them too.

Closing for now, feel free to comment/reopen if you come up with more keywords and don't want to PR :)

[2017-04-10 19:55] #111 closed

[2017-04-11 13:55] Lagaffe opened #113 "[BUG] incorrect urls in language dropdown"
The dropdown in the administrator to switch between languages when editing a content type doesn't work anymore since the latest release. I believe it might be related to the changes for the following Bolt issue: https://github.com/bolt/bolt/issues/6514.

We are running Bolt in a subfolder on the server and are using docker containers. The url created references the name of the docker container, no

[2017-04-11 22:03] SahAssar commented on #113
Could you give me an example of one of the non-working URLs?? Cause it currently just uses the current _route and _route_params and adds the locale, see here: https://github.com/AnimalDesign/bolt-translate/blob/master/templates/fields/_locale.twig. If you could try switching that `url` call to a `path` call to see if that fixes it it'd be nice too :)

[2017-04-12 09:08] sbonardt opened #114 "[BUG] Creating content not in default language, having title field translatable, results in no slug in default language after 'Save'"
I have two languages on my Bolt install, English and Dutch (EN and NL). It works like a charm, and I have implemented Translate on multiple sites. However, I feel I now have encountered a bug:

When going to the admin section in the NL language (not the default) and creating a new piece of content, this gets me to the creating-new-piece-of-content-page and the lang selector isn't present so I am c

[2017-04-12 11:04] Lagaffe commented on #113
This is an example of a non working URL:
https://website/website/bolt/editcontent/pages/2?_locale=nl

[2017-04-12 11:45] Lagaffe commented on #113
changing the function used from 'url' to 'path' fixes the problem, there is a PR on the way

[2017-04-12 19:17] SahAssar commented on #114
Hmm. creating a new record in a non-default locale should not be possible, I think this bug was introduced somewhere during 4.0...

[2017-04-12 19:22] #113 closed

[2017-04-24 19:45] jackiboy commented on #110
Hi! I am having the same issue as above. I have set the template select field to `is_translateable: true` and the saved changes appear on the frontend but reloading the edit page the changes do not appear to be saved.
------------
Bolt Version:  Bolt 3.2.11
Translate Version: 4.0.6

[2017-04-28 13:20] benwallis commented on #110
Same issue here. Admin does not show different data for each locale - but it shows correct on front end (as long as not saved over accidentally).

Bolt version: 3.2.7
Translate version: 4.0.6
Labels version: 3.0.7

It's a simple one page website. Here is my content type definition:
[code]
[code]

[2017-05-02 11:08] larsvansche opened #116 "[RFC] flag_icon function"
The README.md file doesn't specify anything about the flag_icon() twig function.

This seems like something that should be in the readme.md file, so others can easily use the flag icons in their own localeswitcher template.

Details
-------

 - Translate Version: 4.0.6
 - Install type: Extension repository (I think)
 - Bolt Version: 3.2.11
 - PHP version: 7.0.3
 - Used webserver: Apache version 2.

[2017-05-05 13:49] larsvansche commented on #16
Is it perhaps possible to keep the hash in the URL when switching languages?

For example:

- my URL is "example.org/en#hash1"
- I change to a different language (e.g. french) by using the localeswitcher
- now my URL is "example.org/fr". I want it to be "example.org/fr#hash1"

Just a suggestion. I suppose it isn't that much to implement, but I can't be sure.

[2017-05-05 14:21] SahAssar commented on #16
Just clarifiying here since we already talked about this on slack, but this isn't actually possible. The fragment identifier isn't actually sent to the server, so the only way to do it is with JS and I'd prefer to not involve client-side scripting in this plugin. If you want to PR an addition to the readme for how to do it with JS that'd be welecome though. It'd probably be something like this (I

[2017-05-08 08:32] Sendoushi opened #117 "[BUG?] Not translating specific template fields"
Using a specific templatefield, I set the "title" to "X" in a language A and to "Y" in language B. Language A "title" has become "Y" when it should've stayed at "X".

Details
-------

 - Translate Version: 4.0.5
 - Install type: Extension Repository
 - Bolt Version: 3.2.11
 - PHP version: 7.0
 - Used webserver: Nginx

Reproduction
------------

 1. **Blocks content type definition** (main type):

[2017-05-08 16:42] benwallis commented on #117
Check if it works on the front-end.

It might be the bug where correct translation is not shown in the admin:
https://github.com/AnimalDesign/bolt-translate/issues/110

[2017-05-17 15:38] mikemcgowan opened #118 "[BUG] Overriding 'controller.frontend' can lead to race condition (with other extensions)"
The [following code](https://github.com/AnimalDesign/bolt-translate/blob/master/src/TranslateExtension.php#L208) in `TranslateExtension.php`,  *replaces* `$app['controller.frontend']` with an instance of `LocalizedFrontend` (which extends Bolt's own `Frontend`).

[code]

If another extension does the same as the above, the actual controller that gets created (and therefore the behaviour of the sit

[2017-06-20 08:32] HerveEmagma opened #122 "[BUG] Locales var not always available"
Hello everybody,

When I try to access global 'locales' var with a wrong locale in url (example : www.mywebsite.com/sdlkgdsg/page/1 instead of a valid www.mywebsite.com/en/page/1), i get a

`Twig_Error_Runtime in Template.php line 487: Variable "locales" does not exist in ...`

For example, It happens when I use localeswitcher twig function.

So, after some tests, I found it can be resolved by set

[2017-08-03 13:34] melcarthus opened #126 "[BUG] Key "title" for array with keys "label, delabel, link, path" does not exist in "@bolt/frontend/_sub_menu_translated.twig"
With strict variables set to true this error gets thrown.

[code]

I looked like this happend all of a sudden. I was filling pages and other content types when this error happend 'suddenly' When I clear the menu.yml everything is fine. S

Details
-------

 - Translate Version: [ 4.0.9 ]
 - Install type: [ Extension Repository ]
 - Bolt Version: [ 3.3.1 ]
 - PHP version: [ 7.0 ]
 - Used webserver:

[2017-08-03 13:38] SahAssar commented on #126
I think the issue is that `|default(item.title)|default('')` should have been `|default(item.title|default(''))` here: https://github.com/AnimalDesign/bolt-translate/blob/master/templates/frontend/_sub_menu_translated.twig#L24

[2017-08-03 19:16] melcarthus commented on #126
You where right.

[2017-08-10 10:22] #126 closed

[2017-08-17 08:29] melcarthus opened #128 "[BUG] Cant publish / change status in /bolt/overview/****"
Details
-------

 - Relevant Bolt Version: [3.3.1]
 - Install type: [ Composer install ]
 - PHP version: [ 7.0 ]
 - Used web server: [ Apache 2.4 ]
 - For UX/UI issues: [ Chrome 59.0.3071.115 ]
 - Extensions [ Translate 4.0.9 ]

Reproduction
------------

1- I created multiple contentypes (pages).
2- I went to the overview of the contenttype pages and chose `select all`.
3- I clicked the button `p

[2017-08-18 14:36] peterboorsma opened #130 "[BUG] Translate breaks after updating to Bolt 3.3.1"
I'm not sure what happened and forgot to backup the long error message. This is what I posted on Slack:

‘Undefined index: _locale’

With some help this addition to the config.yml fixed it:

performance:
     timed_records:
         use_cron: true

Details
-------

 - Translate Version: [ 4.0.9 ]
 - Install type: [ Extension Repository  ]
 - Bolt Version: [ 3.3.1r ]
 - PHP version: [ 7.0 ]
 - Used

[2017-08-22 11:34] #116 closed

[2017-08-23 13:36] #130 closed

[2017-08-29 13:39] lenvanessen opened #133 "[RFC] keep current tab when switching language"
Always switching back to the content tab is sometimes messes with your workflow

[2017-08-29 13:45] lenvanessen opened #134 "[ BUG ] Translate icon not prepended for fields not in content tab"

[2017-08-29 14:24] lenvanessen opened #135 "[??] Translatable is misspelled"
is_translateable is misspelled, should be is_translatable

[2017-09-05 10:10] lenvanessen opened #136 "Records include content that is not available in current language"
records variable doesn't check if content is translated, resulting in overview pages that contain 404 links

[2017-09-21 15:08] lenvanessen opened #139 "Translatable fields in repeaters don't get the icon"

[2017-09-22 11:23] lenvanessen opened #140 "[BUG] Templatefields not saved"

[2017-09-22 11:39] lenvanessen commented on #140
Additional:

Templatefields are not stored in `$contentType['fields']` and therefore not processed even if above was solved

[2017-09-22 12:18] #140 closed

[2017-09-22 12:19] lenvanessen commented on #117
You need to tag the `templateselect` with is_translateable instead of the individual fields.

Like:
[code]

Updated readme is coming in that clarify's this.

[2017-09-22 12:21] lenvanessen opened #141 "[RFC] Make templatefields more consistend and individually managable"
Currently, to translate a template specific field you define this in the translateselect.

Ideally, you want to be able to define this per template-specific field since this is more consistent and gives you more control.

[2017-09-25 14:12] anketwokings opened #143 "[bug] 404 that is triggered without language prefix is not redirecting properly"
¡Hola!
When you request a page without the language prefix, you don't get the 404 that you defined in the Bolt config.

## How to trigger

mydomain.com/en/nopagehere -> Gives the Bolt-defined 404 page * good! *
mydomain.com/nl/nopagehere -> Gives the Bolt-defined 404 page * good! *
mydomain.com/nopagehere -> Gives a 'whoops something went wrong' error * b0rk *

## what I expected

mydomain.com/nop

[2017-09-25 14:42] lenvanessen commented on #143
Hi Anke,

Ik heb het net met de nieuwste versie getest en daar lijkt het wel werken!

[2017-09-25 15:05] lenvanessen opened #144 "[BUG] Translate + stack gives errors on ajax save"
Failed to load resource: the server responded with a status of 500 (Internal Server Error)
/bolt/editcontent/pages/1?_locale=nl#slider:1 Uncaught SyntaxError: Unexpected token < in JSON at position 0
    at JSON.parse (<anonymous>)
    at Function.re.parseJSON (lib.js?41f3aa1764:1)
    at Object.<anonymous> (bolt.js?8aa9838821:9)
    at l (lib.js?41f3aa1764:1)
    at Object.fireWith [as rejectWith

[2017-09-25 18:50] #136 closed

[2017-09-26 18:35] SahAssar commented on #110
This is fixed in the latest release via #127 / #132

Please reopen if I'm wrong :)

[2017-09-26 18:35] #110 closed

[2017-09-26 18:37] SahAssar commented on #141
I think that this would be really hard to do without changing how the fields are saved in bolt core... My plan was to hold out for the "successor" to template fields that is still planned for 4.0.

[2017-09-26 18:38] lenvanessen commented on #141
Agreed

[2017-09-26 18:38] #141 closed

[2017-09-26 18:39] SahAssar commented on #135
Yeah, I should fix that so that it accepts both and remove the misspelling in the next major... Or keep it around as a homage to the misspelling of referer in the HTTP spec :D

[2017-09-26 18:42] lenvanessen commented on #135
Our add both for now? Change the docs and the `is_translatable`, and write a small part in the config that changes the old spelling on the fly?

[2017-09-26 19:38] SahAssar commented on #135
Yeah, that was what I meant. Accept both now, and remove the misspelling in the next major.

[2017-09-26 20:17] SahAssar commented on #117
Fixed by a readme update in 10a40d0

[2017-09-26 20:17] #117 closed

[2017-09-27 16:15] #135 closed

[2017-09-27 16:16] lenvanessen commented on #143
@anketwokings does it work for you in the new version?

[2017-09-27 16:23] SahAssar commented on #143
Also, If it doesn't, could you post your routing.yml and the translate config?

[2017-09-27 16:25] lenvanessen commented on #118
The way the translate extension overrides the Front-end controllers is not ideal, but that's a limitation of the current way the Frontend controller in core works now.

I think we best move this to an RFC for Bolt 4.0, since in the 3.x there it would be near to impossible to prevent BC-breaks if we'd switch it over to a decorator pattern.

For now i'm closing and i'll bring up the suggestion for t

[2017-09-27 16:25] #118 closed

[2017-09-27 16:41] lenvanessen commented on #118
For reference: https://github.com/bolt/bolt/issues/7031

[2017-09-28 07:41] anketwokings commented on #143
@lenvanessen @SahAssar Sorry, not my project, but I have alerted my coworker to upgrade. I'll let you know if anything new comes up. (sorry, I know this is not really constructive, but i'll follow up on this) :)

[2017-09-28 11:35] #144 closed

[2017-09-28 11:37] lenvanessen commented on #143
I think I know what's going on. Only the homepage redirects, other pages don't.

So if you used to have `/blog` and it has become `/nl/blog`, you're getting a 404.

I'd say it's best if a route **is** matched without the _locale var, than redirect to the same route prepending the _locale var

[2017-09-30 08:24] GawainLynch commented on #118
As I mention in bolt/bolt#7031 this should be done via a view event, and extensions shouldn't override controllers (bundles are a different story)

[2017-10-04 18:12] jimi75 opened #147 "[BUG] Translatable slug bad beahaviur"
Details
-------

 - Translate Version: 4.0.9
 - Install type: Local install (composer)
 - Bolt Version: 3.3.6
 - PHP version: 7.0
 - Used webserver: Nginx 1.10.1

When slug contenttype is set to `is_translatable: true` after change the slug for a none default language and  save i get this error.

[code]

[2017-10-05 12:47] jimi75 commented on #147
I realized what the problem is. Hydration of empty repeater fields cause the error. I already have the solution and i will make a PR.

Thanks guys for the incredible work. BOLT ROCKS!

[2017-10-05 12:47] #147 closed

[2017-10-06 08:45] aalshaikh opened #149 "Switching language override the default language"
i have the latest translate extension, and the latest of Bolt.cm, the issue is when i select english and create new content with english and save, then i want to translate the same content to another language example Arabic, so i selected the same content and switched to arabic from language dropdown menu and i changed the text it's will override the english content to another language.

is this h

[2017-10-11 07:21] lenvanessen commented on #149
Hi @aalshaikh,

Could you make sure that you have done step 4 of the readme? Because if you don't add the extra hidden fields, Translate has no place to store the translations.

[2017-10-11 09:56] aalshaikh commented on #149
yes i added the extra hidden fields, and not working

[2017-10-11 10:00] #128 closed

[2017-10-11 10:04] lenvanessen commented on #149
Could you share your contenttypes.yml and the translate.animal.yml?

[2017-10-11 11:50] aalshaikh commented on #149
Here is contenttypes.yml
`Cars:
    name: Cars
    singular_name: Car
    fields:
        locale:
            type: locale
            group: content
        title:
            type: text
            class: large
            group: content
            translatable: true
        slug:
            type: slug
            uses: title
            translatable: true
        image:
            type: imag

[2017-10-11 11:52] lenvanessen commented on #149
Note: I updated the comment to format the code

[2017-10-11 19:35] virtualize opened #151 "unexpected behaviour on adding new language to existing bolt installation"
A fatal error occurs, if you add the translate extension at running single language bolt installation. The database fields were set but the initial field values are empty. So if you try to switch to the new language in bolt, the system does not find an array in Line 139 – a fatal error occur. It only work, if you re-save the content in the given language and than switch to the new language.

https

[2017-10-12 13:13] lenvanessen commented on #151
Hi @virtualize , I've run past your steps but can't reproduce the issue.

The posthydrate event is triggered after the save, so any translatable field is already json-encoded and stored in the database, no matter what language you're editing first there should be json stored and therefore an extra check should not be needed.

That said, i'd like to figure out why this is not the case for you, so w

[2017-10-12 13:15] lenvanessen commented on #143
Hi @anketwokings,

Did you find anything?

[2017-10-12 14:37] aalshaikh commented on #149
@lenvanessen any luck with issue?

[2017-10-12 15:06] virtualize commented on #151
Hi @lenvanessen thanks for your fast reply. I've added the issue for a coworker of mine, so I will redirect your questions to her.
@pakadesign could you please provide these files / answers?

[2017-10-12 18:00] lenvanessen commented on #149
Hi!

I can’t reproduce here, did you run the database update as Well? Can you Check If your database has a colum ardata in it?

[2017-10-12 18:25] SahAssar commented on #143
Hmm, looking at this again (with slightly more ☕️ ) this is the expected behaviour. The homepage we redirect (and have a special controller for it), but any other pages just have their url and that's it. My thinking is that this is just like if you have `/page/about` in bolt where `/about` won't redirect to it, but I could definietly see the upside och having a config to turn that on.

[2017-10-12 18:35] SahAssar commented on #114
Closing, I'm pretty sure that this is fixed so that it requires a record in the default locale first, lemme know if that isn't the case :)

[2017-10-12 18:35] #114 closed

[2017-10-12 18:37] SahAssar commented on #65
Spring cleaning, hopefully we can do this when we actually separate the tables and don't rely on the "default locale" holding all the data.

[2017-10-12 18:37] #65 closed

[2017-10-12 18:38] SahAssar commented on #16
Closing this, the remaining points will get done when there is time or in the next rewrite.

[2017-10-12 18:38] #16 closed

[2017-10-12 18:58] SahAssar commented on #143
Wait, no, Someone give me reading lessons, cause apparently I can't read.

@anketwokings Sorry! In the above reply I was assuming that this issue was about the non-locale version was not redirecting to the default locale, when it was actually about it showing an error message instead of the 404, right? That problem I can't really reproduce on my test setup, would it be possible for you to get a de

[2017-10-13 12:49] nestordedios commented on #143
Hi @SahAssar ,

just updated to Bolt `3.3.6` and Translate to `4.1.0` and what @anketwokings mentioned it's still happening. If we try to request a page like `sitedomain.com/pageslug` we will get the following error.

In the `translate.animal.yml` file we have set `routing_override: true` and here I think it's where it goes wrong. When the route does not match the requirements of `/{_locale}` (in

[2017-10-13 12:54] anketwokings commented on #143
@lenvanessen @SahAssar
As you can see, my colleague Nestor just updated and tested the project i was talking about. More info in his extensive post!

[2017-10-13 12:57] SahAssar commented on #143
@nestordedios Does it not display the normal 404 when you are not logged in (and have `debug_show_loggedoff: false`)?

Because it really should just like you should get a 404 on `/test/test/test/test/test/test` on any bolt install even though it does not match any of the routes.

[2017-10-13 13:17] nestordedios commented on #143
@SahAssar when I'm not logged in and I have `debug_show_loggedoff: false` I get this:
![notloggedin](https://user-images.githubusercontent.com/6607455/31547814-fd4ca800-b028-11e7-947c-08b581504a12.png)

After setting `debug: true` and login in I still get `NotFoundHttpException`:
![error](https://user-images.githubusercontent.com/6607455/31547893-4fab3030-b029-11e7-9dcf-cffc8f6855b1.png)

[2017-10-16 18:55] lenvanessen commented on #143
@nestordedios I can't reproduce here, can you share your routes file as well? (If you've made any changes)

[2017-10-17 13:24] nestordedios commented on #143
Hi @SahAssar and @lenvanessen ,

First of all my apologies for the wrong comments posted before. I've been using the wrong `config.yml` to reproduce the main issue 😟 which is "kind of" solved and it seems it has only something to do with having `strict_variables` set to either `true` or `false`.

When using the correct `config.yml` I get a different error than before. The `notfound:` option points

[2017-10-17 17:40] SahAssar commented on #143
@nestordedios `{% for key, locale in locales|default([]) %}` should work

[2017-10-20 08:59] nestordedios opened #152 "[BUG] If locales is undefined or empty '_localeswitcher.twig' throws error"
Hi @SahAssar ,

As mentioned in https://github.com/BoltTranslate/Translate/issues/143#issuecomment-337230077. Using strict variables will trigger this error:
![capture](https://user-images.githubusercontent.com/6607455/31812978-044faa74-b585-11e7-8a6f-2f7e56543638.PNG)

As you said that can be fixed by using `{% for key, locale in locales|default([]) %}`

Would it be possible to add that to the ba

[2017-10-20 09:11] nestordedios commented on #143
Thanks @SahAssar that indeed fixes the issue, but still some customization for the `_localeswitcher.twig` base template needs to be done otherwise the same error is triggered when using `{{ localeswitcher() }}`.

I opened a PR #153 just in case it is possible to fix like that.

Thanks a lot! 👍

[2017-10-22 10:41] lenvanessen opened #155 "Extension URL's don't work because the URL param is prepended"
For instance, a menu-editor url becomes:
[DOMAIN]/bolt/extensions?_locale=en/menueditor

[2017-10-27 07:26] SantinoPetrovic opened #156 "Default locale can't handle values for repeaters in templatefields"
Hi!

I try to use the translate extension for template select field, and it works perfectly for all subfield I've in my template fields, except for repeaters. When I try to save the other locales with values on the repeater, the default locale drops its templateselect repeater values. However, if I save default locale only, it doesn't drop it.

This is the code I use:

Contenttypes.yml:

`sidor:

[2017-11-01 13:32] bobdenotter opened #157 "[Bolt 3.4] Block fields ordering breaks when re-ordering."
When you use the 'move down' and 'move up' buttons, the ordering of Blocks gets mixed up..

For example, this field def:

[code]

This happens in-browser:

![](http://g.recordit.co/vFmdVlcItg.gif)

This only happens when Translate is installed.

[2017-11-07 14:18] SantinoPetrovic commented on #156
Anyways, it looks like I were 36 commits behind  and older bolt system (3.2.14), so don't mind this issue :)

[2017-11-08 13:52] DamienChauvet commented on #149
Hi,
Same thing happened to me. After lots of tests, the problem was because the "slug" field of my contenttype was different of my contenttype definition:
[code]

[2017-11-08 22:08] lenvanessen commented on #149
Hi @damien,

Thanks for the hint. I’ll Check it and try and patch it as soon as i can!

[2017-11-08 22:11] lenvanessen commented on #157
Thanks for reporting Bob:) I’ll do some monkey testing with 3.4 This weekend, has to be done for #158 anyhow

[2017-11-08 22:12] lenvanessen opened #158 "[3.4] Make translate work with named repeaters"

[2017-11-08 22:14] #152 closed

[2017-12-07 08:52] Puddingboy opened #159 "Suggestion: just `translate: true`"
is_translateable: true, translatable: true...

those words must seem like horror to the dyslexic.

i propose:
`translate: true`

It's simple, it's phonetic, it's beautiful...
Just throwing it out there :)

*note: please take it with a grain of salt. Yesterday I spend half my morning checking my twig syntax to look for any quirks. Turns out, I just misspelled translatable. Yup I should read and wri

[2017-12-07 09:04] SahAssar commented on #159
:-1: we just changed it to translatable and that looks better when placed together with other options like `sortable`

[2017-12-08 09:47] bobdenotter commented on #157
Not a Translate issue after all. Fixed in https://github.com/bolt/bolt/issues/7232

[2017-12-08 09:47] #157 closed

[2017-12-15 14:21] Puddingboy opened #160 "[BUG]adminpanel localeswitcher throws console error as it loads"
The moment the localeswitcher changes language, it thows the following error:
[code]
The language still changes as expected and the content still loads. I tried it in my pages contenttype, but I am fairly certain it will show on any contenttype.

Details
-------

 - Translate Version: 4.1.1
 - Install type: Extension Repository
 - Bolt Version: 3.4.2
 - PHP version: 5.6
 - Used webserver: Nginx
 -

[2018-01-18 17:03] xphoenyx commented on #149
Hello,

Struggling with the same problem, but with repeater fields: new content creation procedure performs with no issues, but when I update the same content after selecting another locale, values of repeater fields of previous locale are replaced with new ones.

My contenttype config:

[code]

A already have tried applying instructions from step 4 of general instruction for repeater fields, like

[2018-01-18 17:16] xphoenyx commented on #133
Is is somehow related to missing locale switcher on single record edit page in admin panel?

[2018-02-01 19:49] peterboorsma opened #163 "[RFC] Feature request: provide redirects for pre-translated sites"
This is something I encounter when translating existing sites:

An example url of a page on a site without translations:
example.com/contenttype/this-is-a-record

After implementing the translate extension, you get something like this:
example.com/en/contenttype/this-is-a-record

The first url now produces a 404 error.
It would be nice to implement a fallback so the old url's somehow redirect auto

[2018-02-01 21:34] SahAssar commented on #163
IIRC you can do this with the redirector extension, but it might be nice to have automatically in translate too :)

[2018-02-28 13:57] Matthewbeck75 commented on #156
Also having this issue. Bolt 3.4.8, php 7.0

theme.yml:

    templates/blocks/footer-links_block.twig:
        footer_links:
            type: repeater
            label: Footer Link Entries
            initial: 6
            fields:
                footer_entry_name:
                    type: text
                    label: Name
                footer_entry_link:
                    type: text

[2018-02-28 14:56] lenvanessen commented on #156
I’ll look into this, will post the findings next week!

Thanks for reporting

Op 28 februari 2018 om 14:57:04, Matthew (notifications@github.com) schreef:

[2018-03-01 14:53] Mahan-F opened #164 "[BUG] Records variable empty when key and slug are different"
I made a contenttype with the key `companyAtMedia` and the slug `company-at-media`, I need the contenttype slug to be that because that is the URL for the listing page. And I cannot have hyphens in the contenttype key.

When I go to the listing page, the template loads but the `records` variable is empty even though I have added a few records, as soon as I remove the translate settings from the co

[2018-03-10 12:41] Matthewbeck75 opened #167 "[BUG] Ghost Content in empty locales"
When creating a new record, then filling out translatable fields in the first (default) locale, then saving, then switching to a different locale (locale 2), the content you just entered will appear as if you are still on the first locale.

Pressing save immediately here will permanently save all of the data to locale 2.

While this is a bug, it can be somewhat useful to fill a locale with a copy

[2018-03-10 12:59] Matthewbeck75 opened #168 "[BUG] Record locale returns 404 unless save has been pressed inside backend"
This ties in closely to #167.

When trying to access a page on a specific locale, a 404 is given if that locale has not had an entry saved in the back end.

Details
-------

    Translate Version: [ 4.1.1 ]
    Install type: [ Extension Repository ]
    Bolt Version: [ 3.4.8 ]
    PHP version: [ 7.0 ]
    Used webserver: [ Nginx ] 1.10 ]

Reproduction
------------

If you're filing a bug, please d

[2018-03-11 20:12] AfkForEver commented on #158
Hello

Is this planned for the near future? At the moment, named repeaters cannot be translated properly.

Thanks for the information.

[2018-04-12 09:33] ndavina opened #169 "[BUG] When content is only published in one language it wont display correctly"
Our website has 2 languages (English and Dutch).

**Problem:**
- I create a blog item just for 1 language (Dutch in this case - no translation in English)
- I create a another blog item just for 1 language (Dutch in this case - no translation in English)
- these blog items are visible in the Dutch blog list (this is good)
- these are not visible in the English blog list (this is good)
- when I cli

[2018-04-25 08:14] HerveEmagma opened #170 "[BUG] Seralized data in admin content list excerpt"
Hi everybody,

Since 3.3 update, I've got ugly data showed in content list admin. Here is an exemple of a page content type :

![image](https://user-images.githubusercontent.com/25428513/39232994-6a113314-486f-11e8-9964-ac363032a358.png)

Same page with Bolt 3.2.20
![image](https://user-images.githubusercontent.com/25428513/39233362-6a088ae2-4870-11e8-8ea6-2e8132fc4c93.png)

All the data from frda

[2018-04-26 13:42] madc commented on #170
I'm on 3.4.10 and see the same issue.

[2018-06-14 14:33] SanderOnline opened #171 "[BUG] Fieldtype block translation always uses values from the bolt_field_value table"
I'm trying to use the Translate extension in combination with the fieldtype block but i'm having some issues to get it working and keep getting the same error.

Details
-------

 - Translate Version: [ 4.1.1 ]
 - Install type: [ Extension Repository ]
 - Bolt Version: [ 3.5.3 ]
 - PHP version: [ 5.6 ]

Reproduction
------------

I have a contenttype Pages with some dynamic nodes for the different

[2018-06-25 13:29] blaues0cke opened #172 "[RFC] Add support for translatable contentblocks"
So it would be great to add support for translating contentblocks like:

[code]

It seems not to work right now since bolt will crash I add the extra fields (https://bolttranslate.github.io/Translate/example.html) to my `contenttypes.yml`.

[2018-06-27 11:32] blaues0cke opened #173 "[BUG] Translations not working when "slug" and "singular_slug" are set and differ from the theoretically autogenerated ones"
So translations are working like a charm for this contenttype:

[code]

But when I change `slug` and/or `singular_slug` the `dedata` and `endata` fields are now longer maintained and the locale is stored in the original fields:

[code]

Details
-------

 - Translate Version: 4.1.1
 - Install type: Extension Repository
 - Bolt Version: 3.5.0
 - PHP version: 7.0

Reproduction
------------

1) Add th

[2018-06-27 11:51] blaues0cke commented on #173
A working workaround for this just to remove `slug` and `singular_slug`. Its also possible then to delete the new generated (different) mysql table and rename the old one that still exists behind the scenes to the correct/new name.

[2018-06-28 13:56] blaues0cke commented on #173
This also occurs when the name of the content type contains a underscore (`_`). So this works:

[code]

and this not:

[code]

[2018-07-24 09:31] SanderOnline commented on #171
Hi @denis-gorin ,

Thanks so much for your workaround, it seems to work fine when i use your code.
Really appreciated!

[2018-07-29 16:04] SahAssar commented on #106
@djooko did you try the fix posted above?

[2018-07-29 16:34] SahAssar commented on #158
Currently this is not worked on. It'd be great to have, and if you get it working please submit a PR.

[2018-07-29 16:34] #158 closed

[2018-07-29 16:34] SahAssar commented on #172
Currently this is not worked on. It'd be great to have, and if you get it working please submit a PR.

[2018-07-29 16:34] #172 closed

[2018-07-29 16:41] SahAssar commented on #167
Any field not set has a fallback to the default locale, that is how it was designed. I'd be happy to merge a PR that makes this optional, but right now it isn't.

[2018-07-29 16:41] #167 closed

[2018-07-29 16:49] SahAssar commented on #168
Well, the page isn't there unless it has been saved in that locale? I'm not sure how any other result would make sense. Closing for now, feel free to reopen or discuss further.

[2018-07-29 16:49] #168 closed

[2018-07-29 16:51] SahAssar commented on #171
I'd be happy to accept a PR that makes this work as long as it's stable. For now though blocks aren't supported in translate, so I'm going to close this.

[2018-07-29 16:51] #171 closed

[2018-07-29 16:53] #159 closed

[2018-08-29 16:20] dominiclooser opened #175 "Repeater Field Translation Not Displayed"
[BUG]

I have the same problem as issue #90, but could not solve it with accessing
the content with get(), as suggested there.

I have a contenttype `projects` with a repeater field `descriptions`, which itself
has fields `content` and `label`. content and label are translatable (en and de).
the german translation does not get displayed, but is in the database (i am not sure
if its at the right pl

[2018-09-14 20:14] SahAssar commented on #175
data in the database. everything without success. sometimes, under circumstances
which seem very random, the german translation got displayed. for example when
i when i access a single project with setcontent project = 'projects/2' . if i sort
the projects differently, sometimes the german translation got displayed too. but
i didn't see a clear pattern.

Could you please make exact steps and confi

[2018-10-12 11:23] yawicz opened #180 "ContextErrorException in LocalizedFrontend.php line 27: Notice: Undefined index: requirements"
Hi @bobdenotter ,

It's me again, unfortunately faster than expected.
This time, it's gonna be a bit shorter since I didn't have enough time to try and find a solution by myself yet, thus I will temporarily revert back to 4.1.1 and add my manual fix again to try to get my project up and running again.

Problem
-------

After I updated to your new release 4.1.3, I now get the following error and my

[2018-10-13 17:59] yawicz commented on #180
Update 2 and Troubleshooting:
Going to 4.1.2 via the Bolt-backend results in the same error message.
When I adjust the if-statement in line 27 of /var/www/bolt/.../extensions/vendor/animal/translate/src/Frontend/LocalizedFrontend.php, from ... != 'none' to ... ='none', the website shows up again but no matter where I click, it shows error 404 - page not found.
But this way I was able to comfortabl

[2018-10-16 13:33] gagarine opened #182 "Provide a short documentation about "how it works""
Their is different approach for content translation. You can do that at the field level, content level, etc..

Would be nice to have a short explanation about the approach took by this plugin. How the translation are stored and such. This is mainly useful for peoples that do not know bolt I guess (like me!) but come from other CMS.

[2018-10-17 00:48] gagarine opened #183 "[BUG] Changelog is impossible to follow"
The active language will be saved in the DB field. So each time you save you content in a different language all the field are going to be overwrites. I do have the feeling this can be problematic. The first problem I can see is with the change-log:
![screenshot 2018-10-17 at 02 40 13](https://user-images.githubusercontent.com/164074/47055125-38ae4c00-d1b6-11e8-9a63-861bb7c499bb.png)

Proper solut

[2018-10-17 10:42] gagarine opened #184 "Change the DB structure - use a table for translation"
Instead of serializing data why not creating a new table for translatable field for each content type?

![screenshot 2018-10-17 at 12 21 45](https://user-images.githubusercontent.com/164074/47081022-d3844600-d209-11e8-9aab-8bd981effeb8.png)

I personally things at least a DB structure than allow translation should be supported in core and opened the discussion their : https://discuss.bolt.cm/d/474

[2018-10-17 16:04] jnvsor commented on #151
We just ran into this issue ourselves.

Unless I'm mistaken (and bolt is needlessly saving a content type every time you simply open the form) posthydrate is triggered after the load. (Hydration is putting database stuff into objects no?)

The problem occurs because line 136 only checks the value with `isset`, so it works fine if you have `NULL`. In some cases when adding languages the default val

[2018-10-31 21:13] SahAssar commented on #184
Well, at the outset of this one of the goals were to not have to change the db structure when adding a field as translatable, so that restricted the implementation. We have also had a number of problems that don't fit neatly into that model like repeaters, blocks, templatefields and even worse stuff like repeaters-in-templatefields.

My work on this extension came out of necessity, so it's not at

[2018-10-31 21:15] SahAssar commented on #183
Sorry, not sure what that means, could you explain? Regarding the separate tables, I have since answered that in that issue.

[2018-10-31 21:17] SahAssar commented on #182
I'd love to have something like this, but I just don't have the time. If you PR it I'll happily merge it though!

[2018-11-02 17:36] gagarine commented on #184
Yeah, I understand Bolt a bit more now and you choices make sens. I think any big change should wait the next version of Bolt. Apparently they are going to change the data structure.

[2018-11-02 17:37] gagarine commented on #183
I mean do not save in the current language in the "non serialized field" but always in the "default language". So the diff are a bit more clean and the log easier to follow.

[2018-11-03 09:28] SahAssar commented on #183
Hmm, I haven't used translate in a while, but the idea was to only save the default language in the normal bolt columns, and save overrides only in the json column for that locale. So if it's resaving non-default translations in the normal fields then that is a bug.

[2018-11-03 11:33] gagarine commented on #183
It's what happened in my test. Perhaps, I didn't configure the default
language correctly. I will test it again.

On Sat, Nov 3, 2018 at 10:28 AM Svante Richter <notifications@github.com>
wrote:

[2018-11-07 16:10] yawicz commented on #180
Just updated to version 4.1.5 and everything is running smoothly. Bug fixed, thanks!

[2018-11-07 16:10] #180 closed

[2018-11-07 19:57] bobdenotter commented on #180
Glad that it's fixed, and my apologies for not remembering to check open issues to notify people of probable fixed issues. :-)

[2018-11-11 16:03] jnvsor opened #187 "Arbitrary localized columns for searching"
Searching was requested in bug #7 which was closed for an unrelated question tacked on to the issue, but not being able to search is still an issue.

In order to make translated columns searchable they would need to be split out like the slug, instead of stored in the data json.

Since we already have a working mechanism for the slugs, how hard would it be to allow arbitrary columns to have their

[2018-11-22 09:13] evertalbers opened #188 "translatable: true works but translatable: 1 not"
I noticed that `translatable: true` works but some naughty users like me might try `translatable: 1` (what I expected to work since the true/fase/1/0 can also be mixed in bolt's other yml files.

If it's easy to change that in the core: great!
Otherwise a small addition to the docs might be a good ideaand you know what: I'll PR that right away.

[2018-12-14 15:12] anketwokings commented on #172
Just leaving my comment here, since right now we're working on a site that's leaning heavily on contentblocks _and_ the translate extension. So one way or another we will get it working, just not sure if it will involve a (possibly dirty) workaround or a proper PR. We'll keep you posted!

/tagging @bobdenotter  / @jadwigo

[2018-12-18 05:03] COOLak opened #190 "Redirecting homepage to subdomain"
I chose a subdomain approach for my site, which resulted in having to use custom routing. But then the "homepageRedirect" is not working properly.

[code]
It redirects homepage to mydomain.com/en, while I need it to be redirected to en.mydomain.com
Any suggestions? Thanks in advance.

[2018-12-18 07:35] COOLak commented on #190
Was able to solve this via .htaccess, but still wondering how to do this via this extention.

[2018-12-20 14:22] anketwokings opened #191 "[BUG] No language switcher in contentype when no tabs are present"
When you don't have any tabs (groups) in your contenttypes, the translate tab with the languages is not shown. Adding a group fixes the problem.

This is probably an issue that is not very common, because when you use the readme as described, you automatically make a group called `content`.

I just stumbled upon it because I have reorganised the whole contenttypes.yml in my project, and deconstruc

[2019-01-02 22:00] tobias-93 opened #192 "[RFC] Make language switcher on contenttype new pages configurable"
When I make a new item, I want to see what language I'm working on. For certain reasons, the language switcher is only shown on edit pages. Of course, I can understand that you don't want to change the default behavior, but would it be possible to add the switcher to the new pages if that's wanted by the web site developer? Would be appreciated.

Details
-------

 - Translate Version: 4.1.5
 - Ins

[2019-01-03 12:17] peterboorsma opened #194 "[RFC] Twig_Error_Runtime after updating to Translate 4.1.5"
I need to update a (large) Bolt site from 3.2.20 > 3.6.3
After updating Bolt and extensions to the latest version I get this error message:

[code]
It happens on all pages in the backend where there is a locale addition to the url. I.e.:
/beheer/overview/paginas?_locale=nl

I have a couple of sites running on older versions of Bolt because I experience update problems a lot. Especially when using

[2019-01-06 10:42] COOLak opened #197 "Any page not preceded by '/contenttype' will switch website to default language"
I couldn't find a way to make pages not preceded by '/entry', '/page', or any other contenttype translatable, except for homepage. E.g. I have a custom 404 page that takes content from 'blocks/404-not-found'. That block is in two languages, so the 404 page gets displayed in the respective language if user types 'website.com/lang/**entry**/non-existing-page' or 'lang.website.com/**entry**/non-exist

[2019-01-06 18:41] COOLak opened #198 "[RFC] Translate taxonomies"
There's no mentioning of any way to translate taxonomies in the documentation, so I suppose there's no way to do it. Basically the only way is to have English taxonomies for all languages or have them in all languages at the same time, which doesn't look right. For example, on my website, I have a taxonomy called Categories, which includes News and Articles. At the bottom of each record there's ou

[2019-01-06 21:52] COOLak commented on #198
For anyone else who's come to face the same issue, I managed to make a workaround. Basically, you create additional taxonomies that end with '_locale' (e. g. _es for Spanish). So you have both 'categories' and 'categories_es', both 'tags' and 'tags_es'. Then you modify your _sub_taxonomylinks.twig in the following way (I use subdomain approach, use your own conditions that suite you). This allows

[2019-01-07 13:16] peterboorsma commented on #194
This is solved with Translate 4.1.6. Thank you very much.

[2019-01-07 13:16] #194 closed

[2019-01-11 14:50] tonybelanger commented on #156
Hi,

This bug is still happening for me (4.1.6). I have been to resolve the issue by replacing line 237 in extensions/vendor/animal/translate/src/EventListener/StorageListener.php with the following condition:

`if ($field === 'templatefields') {
    $record->set($field, $defaultContent->get($field)->serialize());
 else {
    $record->set($field, $defaultContent->get($field));
}`

[2019-01-21 09:32] COOLak commented on #198
Well, another option is to just use Labels. At the time of submitting this RFC I wasn't fully aware that it's capable of doing this on its own. But the above method could still be useful for those who want to have taxonomy links different for other languages.

[2019-02-21 23:36] zomars opened #201 "[BUG] saving with templatefields throws: Warning: Invalid argument supplied for foreach()"
Maybe I'm missing something here.

Details
-------

 - Translate Version: [ 4.1.6 ]
 - Install type: [ Extension Repository ]
 - Bolt Version: [ 3.6.4 ]
 - PHP version: [ 7.1 ]
 - Used webserver: [ Apache ] version [ 2.4 ]

Reproduction
------------

On `theme.yml`:
[code]

On my `contenttype.yml`:
[code]
![image](https://user-images.githubusercontent.com/3504472/53209054-6be66900-35f6-11e9-943a-3

[2019-03-05 18:59] zomars commented on #201
Ok, I've figured it out. Posting here for reference.

The problem was that my contenttype had no fields with the `translateable: true` property.

[2019-03-05 18:59] #201 closed

[2019-03-19 20:56] #198 closed

[2019-03-19 20:57] #197 closed

[2019-04-18 10:02] albertborsos opened #203 "[BUG] status update replaces localized contents"
I made a new bolt project and I installed and configured this extension to reproduce this issue.

Details
-------

 - Translate Version: [ 4.2.0 ]
 - Install type: [ Extension Repository]
 - Bolt Version: [ 3.6.7 ]
 - PHP version: [ 7.1 ]
 - Used webserver: [ Apache ]

Reproduction
------------

Publish page from view pages screen will updates the localized contents with wrong data.

Follow these

[2019-06-07 17:58] RicardoEPRodrigues commented on #122
Hello.

I found this bug as well, specially on the 404 page. This does define the locales, but it doesn't set which is active.

[2019-06-17 19:00] #192 closed

[2019-09-25 10:34] codmdu opened #204 "Translations are not saved ? Missed a configuration ?"
I followed the instruductions of the [configure page](https://bolttranslate.github.io/Translate/configuration.html), but if i save e.g. a name which is configured as translateable (tranlsate icon is shown) it will not be saved normal ( the translation fields are NULL  in the database).

Details
-------

My contenttype:
[code]

My Config:
[code]

After saving data the databse looks like this:
![Bil

[2019-09-27 20:14] SahAssar commented on #204
Can you consistently reproduce this? If so with what config.yml, contenttypes.yml and translate.animal.yml and by which exact steps?

I've heard reports of this but have never been able to reproduce

[2019-09-30 07:28] codmdu commented on #204
Yes i can reproduce it, because (the saving of) the translation never works for me.

My config.yml is the default one, i only changed the mysql credentials:
[code]

The contenttypes is almost the default (added one new contenttype yet):
[code]

The translate.animal.yml is also the default one (only changed de_AT to de_DE), see the post above.

What i did:

1. Installed Bolt
2. Changed the mysql cr

[2019-10-02 12:23] codmdu commented on #204
@SahAssar Do you have any news ? :)

[2019-10-07 11:56] codmdu commented on #204
@SahAssar Don you need more information to help me ?

[2019-10-15 08:10] codmdu commented on #204
No news here ?

[2019-10-15 21:31] SahAssar commented on #204
Hey @codmdu, sorry for not answering sooner. This is because the key of the contenttype does not match the slug of it. If you for example do the contenttype like this:
[code]

I added a note about it in fdf887a just now. Hope this solves your issue

[2019-10-16 07:13] codmdu commented on #204
Yes this solves my issue, thanks a lot!

[2019-10-16 07:13] #204 closed

[2019-10-16 07:14] codmdu commented on #203
Maybe same as mine #204 ?

[2019-11-15 08:39] UtechtDustin commented on #204
Could you also add a info that the key of the contenttype has to be lowercase ?

[2019-11-15 18:13] SahAssar commented on #204
@UtechtDustin Done, see 6a3bdbc

[2020-04-21 10:42] Spomsoree opened #206 "[RFC] Implementing a routing override blacklist"
I love this library, but in some cases I don't want to override all routes in my project.
For example the search-route, which I have to call with `/en/search`.

Details
-------

 - Translate Version: 4.4.2
 - Install type: Extension Repository
 - Bolt Version: 3.7
 - PHP version: 7.2

Description
------------

I'd like to exclude some routes from the `routing_override` option.
In my case I'd like

[2020-05-19 10:05] Spomsoree commented on #173
I just run into the underscore issue.

Wasted some time on figuring this out.

[2020-07-10 21:18] mihael998 opened #209 "Redirect ALL urls to default locale"
Hmm, looking at this again (with slightly more ☕️ ) this is the expected behaviour. The homepage we redirect (and have a special controller for it), but any other pages just have their url and that's it. My thinking was that this is just like if you have `/page/about` in bolt where `/about` won't redirect to it, but I could definitely see the upside och having a config to turn on redirects to the

[2020-07-10 21:18] mihael998 commented on #209
Is it something that will be done?

[2020-07-20 12:35] icibotaru opened #210 "[RFC] Remove /en slug from URL if default language is en_GB"
Hello,

As title implies, if project is full English, i don't see why should the /en slug be present in the URL.
Of course changing language to /ru or /nl the slug should show up otherwise just /.

[2020-12-04 16:23] evertalbers opened #211 "[BUG] Error when updating php7.2 -> php7.4 (but I found a trick)"
I ran into an error when updating from php7.2 to php7.4 (which I performed first via the hoster's dashboard)
which also caused me to upgrade from Bolt <3.6 to Bolt 3.7.2 (Bolt 3.6 frontend worked fine on php 7.4, but the backend not so much.

Bob saw the screenshot (attached) and asked me to post it here, sine it looks translate-related.

*But: there seems to be a trick when I use 2 steps:*
- when

[2021-02-04 13:34] ItsEcholot opened #213 "[BUG] Composer error"
The following error occurs while installing the extension using the web interface:

[code]

I think the url is simply wrong, since the github repo is at BoltTranslate/Translate?

Details
-------

 - Translate Version: [ 4.2.4 ]
 - Install type: [ Extension Repository ]
 - Bolt Version: [ 3.7.2 ]
 - PHP version: [ 7.4.9 ]
 - Used webserver: [ Apache ] version [ 2.4.38 ]

Reproduction
------------

[2021-02-04 22:45] clem commented on #211
Hi Evert 👋 ,

I had the same problem but I think I figured out how to fix it 😃

### Quick answer

Update the version of Translate, this bug has been fixed in 4.2.2 👌

### Long answer

As I had the same issue, I was using the 4.2.1 version.
I tried to bypass the bug by switching PHP versions. It worked from 7.2 to 7.3, but not from 7.3 to 7.4.

After some research, I found the culprit was this `$co

[2021-03-16 22:08] #151 closed

[2021-03-30 18:22] #173 closed

[2022-05-24 20:28] ridho-laksono-lamudi opened #216 "[BUG] repeater field is set to a row prior when there's no translation being set on the current row"
Details
-------

 - Translate Version: [ master ]
 - Install type: [ all ]
 - Bolt Version: [ all ]
 - PHP version: [ all ]
 - Used webserver: [ all ]
 - For UX/UI issues: [ all ]

Reproduction
------------

1. set a translateable contenttypes in a repeater field
[code]

2. contents example
[code]

step 2:
create a multirow page to show all these data

current scenario: in Deutsch translation page

[2022-05-29 13:56] #216 closed